body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 50px;
  color: #fff;
}

.block__row {
  display: flex;
  border: 10px solid #ede89d;
}
.block__column {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #18b5a4;
  border: 5px solid #5e5373;
  flex: 0 1 33.3%;
}
.block__item {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.block__column--2 {
  width: fit-content;
  height: fit-content;
}
