<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FindYourJob</title>
    <link rel="stylesheet" href="styles/css/style.css">
</head>

<body>
    <section class="hero">
        <header class="hero__header header">
            <div class="header__container">
                <a class="header__logo" href="">
                    <img src="images/logo.svg" alt="">
                </a>
                <nav class="header__menu">
                    <ul class="header__list">
                        <li class="header__item">
                            <a class="header__link" href="">Главная</a>
                        </li>
                        <li class="header__item">
                            <a class="header__link" href="">Вакансии</a>
                        </li>
                        <li class="header__item">
                            <a class="header__link" href="">Компании</a>
                        </li>
                    </ul>
                </nav>
                <nav class="header__authorize">
                    <a class="header__sign-in" href="">Войти</a>
                    <a class="header__sign-up button" href="">Регистрация</a>
                </nav>
                <div class="header__menu-burger">
                    <img src="images/icons/menu-burger.svg" alt="">
                </div>
            </div>
        </header>
        <section class="hero__body">
            <div class="hero__container">
                <div class="hero__content">
                    <h1 class="hero__title">Найдите удаленную работу вашей мечты</h1>
                    <p class="hero__text">
                        Создайте резюме или отправьте отклик на вакансию <br> в компании с мировым именем и работайте <br> по
                        свободному графику
                    </p>
                    <form class="hero__search" action="#">
                        <input class="hero__input" type="text" placeholder="Начните поиск">
                        <button type="button" class="hero__button button">Искать вакансии</button>
                    </form>
                    <div class="hero__examples examples">
                        <span class="examples__text">Например:</span>
                        <ul class="examples__list">
                            <li class="examples__item">
                                Front-end
                            </li>
                            <li class="examples__item">
                                Back-end
                            </li>
                            <li class="examples__item">
                                Designer
                            </li>
                        </ul>
                    </div>
                    
                </div>
                <div class="hero__image">
                    <img src="images/hero-image.svg" alt="">
                </div>
            </div>
        </section>
    </section>
    <main class="main">
        <div class="main__container">
            Main section
        </div>
    </main>
    <footer class="footer">
        <div class="footer__container">
            Footer section
        </div>
    </footer>
</body>

</html>