<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/css/style.css">
  <link rel="shortcut icon" href="images/favicon.svg" type="image/x-icon">
  <title>Growfy</title>
</head>

<body>
  <div class="wrapper">
    <header class="header">
      <div class="header__container">
        <a class="header__logo" href="">
          <img src="images/logo.svg" alt="logo">
        </a>
        <nav class="header__menu menu">
          <div class="menu__body">
            <ul class="menu__list">
              <li class="menu__item">
                <a class="menu__link" href="">Home</a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="">About</a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="">Pages</a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="">Services</a>
              </li>
            </ul>
          </div>
        </nav>
        <a class="header__cart cart-header" href="#">
          <span class="cart-header__text">Cart</span>
          <span class="cart-header__amount">0</span>
        </a>
        <a class="header__button button" href="">Get started</a>
        <button class="icon-menu" type="button">
          <span></span>
        </button>
      </div>
    </header>
    <main class="main">
      <section class="main__intro intro">
        <div class="intro__container">
          <div class="intro__content">
            <div class="intro__header header-intro">
              <h1 class="header-intro__title title">Marketing solutions that grow your business.</h1>
              <div class="header-intro__text text">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, suspendisse varius enim in eros elementum
                  tristique. Duis cursus, mi quis viverra ornare, eros dolor.
                </p>
              </div>
              <div class="header-intro__actions">
                <a class="header-intro__button button" href="">Our services</a>
                <a class="header-intro__button button button--dark" href="">Contact us</a>
              </div>
            </div>
          </div>
          <div class="intro__images images-intro">
            <div class="images-intro__column">
              <div class="images-intro__item images-intro__item--big">
                <img src="images/intro/01.jpg" alt="Image">
              </div>
              <div class="images-intro__item images-intro__item--small1">
                <img src="images/intro/02.jpg" alt="Image">
              </div>
            </div>
            <div class="images-intro__column">
              <div class="images-intro__item images-intro__item--small2">
                <img src="images/intro/03.jpg" alt="Image">
              </div>
              <div class="images-intro__item images-intro__item--big">
                <img src="images/intro/04.jpg" alt="Image">
              </div>
            </div>
          </div>
        </div>

      </section>
      <section class="main__clients clients">
        <div class="clients__container">
          <h2 class="clients__title title">TRUSTED BY startups and large enterprises</h2>
          <div class="clients__row">
            <div class="clients__column">
              <img src="/images/clients/01.svg" alt="client">
            </div>
            <div class="clients__column">
              <img src="/images/clients/02.svg" alt="client">
            </div>
            <div class="clients__column">
              <img src="/images/clients/03.svg" alt="client">
            </div>
            <div class="clients__column">
              <img src="/images/clients/04.svg" alt="client">
            </div>
            <div class="clients__column">
              <img src="/images/clients/05.svg" alt="client">
            </div>
          </div>
        </div>
      </section>
      <section class="main__services services">
        <div class="services__container">
          <div class="services__content">
            <div class="services__header header-services">
              <a class="header-services__label label" href="">Services</a>
              <h2 class="header-services__title title">Services we offer</h2>
              <div class="header-services__text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, suspendisse varius enim in eros elementum
                  tristique. Duis
                  cursus, mi quis viverra ornare, eros dolor.</p>
              </div>
              <div class="header-services__actions">
                <a class="header-services__button button" href="">All services</a>
              </div>
            </div>
          </div>
          <div class="services__cards cards-services">
            <div class="cards-services__column">
              <article class="cards-services__item item-services">
                <div class="item-services__icon">
                  <img src="images/services-icons/01.svg" alt="service">
                </div>
                <h4 class="item-services__title title">Social Media Marketing</h4>
                <div class="item-services__text text">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit lobortis arcu enim urna adipiscing praesent
                    velit.</p>
                </div>
              </article>
              <article class="cards-services__item item-services">
                <div class="item-services__icon">
                  <img src="images/services-icons/02.svg" alt="service">
                </div>
                <h4 class="item-services__title title">Email Marketing</h4>
                <div class="item-services__text text">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit lobortis arcu enim urna adipiscing praesent
                    velit.</p>
                </div>
              </article>
            </div>
            <div class="cards-services__column">
              <article class="cards-services__item item-services">
                <div class="item-services__icon">
                  <img src="images/services-icons/03.svg" alt="service">
                </div>
                <h4 class="item-services__title title">Paid Advertising</h4>
                <div class="item-services__text text">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit lobortis arcu enim urna adipiscing praesent
                    velit.</p>
                </div>
              </article>
              <article class="cards-services__item item-services">
                <div class="item-services__icon">
                  <img src="images/services-icons/04.svg" alt="service">
                </div>
                <h4 class="item-services__title title">SEO Optimization</h4>
                <div class="item-services__text text">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit lobortis arcu enim urna adipiscing praesent
                    velit.</p>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer">
    </footer>
  </div>
  <script src="js/script.js"></script>
</body>

</html>