.contacts {

    &__image {
        margin-bottom: 60px;
    }

    &__contact {
    }
}
.contact {

    margin-bottom: 40px;

    &__key {
        color: variables.$text-blue;
        font-weight: 500 !important;
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 24px;
    }

    &__value {
        max-width: 300px;
        margin-bottom: 16px;
        &:last-child {
            margin-bottom: 0px;
        }
    }
}

