@import "contacts";
@import "form";

.contacts-form {

    &__inner {
        max-width: 800px !important;
        padding-top: 60px;
        display: flex;
        justify-content: space-between;
        gap: 100px;
    }
}

