@font-face {
    font-family: Bubblegum;
    src: url(../webfonts/Bubblegum.ttf);
}
* {  
    box-sizing: border-box;
    
}
html,body {
    font-family: Bubblegum;
    height: 100%;
    margin: 0;
    background: linear-gradient(-45deg, #4A00E0, #8E2DE2);
    animation: hue 30s ease infinite;
}

.statistics {
    margin: 0 auto;
}

.container {
    display: flex;
    justify-content: space-around;
}

.fact {
    text-align: center;
    color: white;
    margin: 0 20px;
    animation: hue 5s ease infinite;
}

.icon {
    font-size: 70px;
    margin: 15px 0;
}

.number {
    font-size: 60px;
    margin: 10px 0;
}

.text {
    font-size: 30px;
    text-transform: uppercase;
}

.underscore {
    border: 1px solid;
    margin: 20px auto;
    margin-bottom: 30px;
    width: 50px;
}

.client {
    color: #81c91d;
}

.coffee {
    color: #be4bdc;
}

.blogpost {
    color: #15aac0;
}

.likes {
    color: #f782ac;
}

.utensils {
    color: #81c91d;
}

  @keyframes hue{
    to {
        filter: hue-rotate(1turn);
      }
    }

@media screen and (max-width: 992px) {
    .container {
        flex-direction: column;
    }
    body {
        height: auto;
    }
} 
