// Tablet View
@media (max-width: 1024px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }

  .top {
    &__container {
      background-position: right 280px;
    }
  }
}

// Phone View
@media (max-width: 667px) {

  .header {
    padding-top: 24px;
  }

  .top {
    &__container {
      background: none;
      border: 1px solid #000;
    }

    &__text, &__title {
      border: 1px solid #000;
      
      width: 100%;
      text-align: center;
    }

    &__title {
      font-size: 32px;
      line-height: 37px;
      margin-bottom: 12px;
    }

    &__button {
      
    }

    &__info {
      padding-top: 36px;
      align-items: center;
    }
  }
}