* {
    margin: 0; 
    padding: 0;
}

body {
    font-family: sans-serif;
}

$color1: #1F3F68;

.top {

    &__info {
    }

    &__heading {
        max-width: 510px;
        font-size: 64px;
        color: $color1;
    }
    
    &__text {
        max-width: 425px;
    }
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}
.header {
    display: flex;
    justify-content: space-between;
}
.text {
    font-size: 16px;
    line-height: 26px;
    color: $color1;
}
.services {
}
.heading {
    font-size: 36px;
    text-align: center;
}
.card-row {
    display: flex;
    justify-content: space-between;
}
.card-col {
    max-width: 359px;
}
.heading-mini {
    font-size: 20px;
    color: $color1;
}
.project {
}

.footer {

    &__top {
    }

    &__bottom {
    }
}

.footer-top {

    &__info {
    }

    &__heading {
        text-align: unset;
        max-width: 300px;
    }

    &__text {
        max-width: 500px;
    }
}

.footer-bottom {

    &__info {
        display: flex;
    }

    &__item {
        flex-grow: 1;
    }

    &__copy {
        color: $color1;
    }
}

.contacts-header {
    background-color: darkgrey;
}

.main {
    display: flex;
}

.map {
    display: block;
    width: 100%;
    height: 400px;
}
