.shop-section {
    
}

.shop-section__description {

}

.shop-section__products {

}

.shop-section__title {

}

.products {
}

.products__unit-list {
    list-style: none;
}

.unit-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.unit-list__item {
}

.unit-list-item {
    list-style: none;
    flex: 0 1 30%;
    border: 1px solid #000;
}

.unit-list-item__image {
    
}

.unit-list-item__image img {
    width: 100%;
}

.unit-list-item__name {
    margin-top: 10px;
    font-size: 1.5rem;
    text-align: center;
}

.unit-list-item__description {
    margin-top: 10px;
    text-align: justify;
}

.unit-list-item__price {
    margin-top: 10px;
    text-align: right;
}

.unit-list-item__more-btn {
    margin-top: 10px;
    text-align: center;
    background-color: #000;
}
