<div class="swiper-slide">
	<div class="card-review">
		<div class="card-review__rating">


			@@for (var i = 0; i < context.stars; i++) { <img src="./img/icons/star.svg" alt="Star">
				}

				@@if (context.stars < 5) { @@for (var i=0; i < 5 - context.stars; i++) { <img
					src="./img/icons/star-off.svg" alt="Star">
					}
					}
		</div>
		<p class="card-review__content">"@@text"</p>

		<div class="card-review__user">
			<img class="card-review__avatar" src="../../../img/testimonials/@@img" alt="">

			<div class="card-review__info">
				<div class="card-review__name">
					@@name
				</div>
				<div class="card-review__activity">
					@@role
				</div>
			</div>
		</div>
	</div>
</div>
