.footer {
    background: variables.$footer-bg-blue;
    &__top {
        padding-top: 90px;
    }

    &__inner {
    }

    &__text {
    }

    &__title {
        font-weight: 400;
        
    }

    &__subtitle {
    }

    &__btn {
    }

    &__bottom {
    }

    &__contacts {
    }

    &__contact {
    }

    &__copyright {
    }
}
.container {
}
.subtitle {
}
.btn {
}
.btn--footer {
}
