@import 'reset';

$color1: #322856;
$color2: #EB4087;
$color3: #F5A823;

$body-bg: $color1;
$body-color: $color2;

$header-border: $color2;
$header-logo: $color2;
$header-nav: $color2;
$header-phone: $color2;

$card-bg: $color3;
$card-color: $color1;


body {
    font-family: "Noto Sans";
    background-color: $body-bg;
    color: $body-color;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {

    .container {
        padding: 15px 0;
    }

    &__inner {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 5px 0;
        border: 5px solid $header-border;
        border-radius: 20px;
    }

    &__logo {
        $logoSize: 30px;
        display: flex;
        width: $logoSize;
        height: $logoSize;
        border-radius: 40%;
        background-color: $header-logo;
    }

    &__navigation {
    }

    &__list {
        display: flex;
        gap: 15px;
    }

    &__item {
        
    }

    &__link {
        color: $header-nav;
    }

    &__phone {
        color: $header-phone; 
    }
}

.section {

		&__inner {
            background-color: $color3;
            height: 750px;
            position: relative;
		}

		&__list {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            position: relative;
		}

		&__item {
            flex: 1 1 18%;
            border: 1px solid #000;
            height: 100px;
            background-color: $color2;
            color: $color1;

            display: flex;
            align-items: center;
            justify-content: center;
		}

        &__heading {
            background-color: $color2;
            position: sticky;
            z-index: 1;
            top: 0;
            height: 50px;
            font-size: 50px;
            color: $color1;
            text-align: center;
            margin-bottom: 20px;
        }
}

