.header {

    border-bottom: 1px solid #E6E6E6;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    &__logo {
    }

    &__navigation {
        
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1px;
        row-gap: 10px;
        column-gap: 48px;
    }

    &__item {
        &:hover {
            color: variables.$accentColor;
        }
    }

    &__link {
    }

    &__menu-burger {
        display: none;
    }
}

@media (max-width: 767.98px) {
    .header {
        &__menu-burger {
            display: block;
        }
        
        &__navigation {
            display: none;
        }

        .menu-opened &__navigation {
            display: block;
            order: 3;
            flex-basis: 100%;
            height: 135px;
            opacity: 1;
            transition: all 0.3s ease 0s;
            padding-top: 10px;
            border-top: 1px solid #E6E6E6;

            @starting-style {
                height: 0px;
                opacity: 0;
            }
        }

        &__list {
            align-content: center;
            flex-direction: column;
            row-gap: 20px;
            text-align: center;
        }
    }
}