@import '_null-style';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&family=Open+Sans&family=Titillium+Web:wght@700&display=swap');

$padding: 5px;
$border: 35px;
$content_height: 253px;

@keyframes flip {
	0% {
		background-position: 0% 100%
	}

	50% {
		background-position: 100% 50%
	}

	100% {
		background-position: 0% 100%
	}
}

body {
	background: #000;
	color: #fff;
	font-size: 24px;
	font-family: 'Open Sans', sans-serif;
}

.items {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 25px;
}

.item {
	margin-bottom: 60px;
	position: relative;

	&:hover {
		transform: translateY(-5px);
		transition: transform 0.5s;
	}

	&::before,
	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(to right, #FF0000 0%, #00FF00 50%, #0000FF 100%);
		background-size: 1200% 1200%;
		border-radius: $border;
		animation: flip 10s linear infinite;
	}

	margin-bottom: 60px;

	&__container {
		display: flex;
		position: relative;
		z-index: 1;
		padding: $padding;
		border-radius: $border;
	}

	&__link {
		color: inherit;
	}

	&__preview {
		width: 500px;
		border-radius: $border 0 0 $border;
		margin-right: $padding;
	}

	&__content {
		flex-direction: column;
		background-color: rgba(0, 0, 0, 0.6);
		width: 700px;
		line-height: 36px;
		padding: 10px;
		border-radius: 0 $border $border 0;
	}

	&__header {
		display: flex;
		margin-bottom: 10px;
	}

	&__logo {
		width: 35px;
		margin-right: 5px;
	}

	&__title {
		font-size: 32px;
		font-family: 'Titillium Web', sans-serif;
	}

	&__about {
		display: flex;
		flex-direction: column;
	}
}

.about {

	&__date {}

	&__first {
	}

	&__modified {
	}

	&__status {
	}

	&__responsive {
	}

	&__tech-stack {
	}
}

.date {
	&__value {
		display: flex;
		align-items: center;
		line-height: 28px;
		font-family: 'Noto Sans Mono', monospace;
		background: #057DD3;
		word-spacing: -8px;
		font-weight: 400;
		padding: 0 10px;
		border-radius: 20px;
	}
}

.first {

	&__key {
		
	}

	&__value {
		background-color: #0378D0;
		color: #fff;
	}
}

.key,
.value {
	// display: inline-block;
	border: 1px solid #000;
}

.key {
	display: flex;
	align-items: center;
	margin-right: 5px;

	&::before {
		// background-image: url(../img/done.png);
		display: flex;
		align-items: center;
		background-size: 28px 28px;
		display: inline-block;
		width: 28px;
		height: 28px;
		content: "";
		margin-right: 5px;
		border: 1px solid #fff;
	}
}

.value {}

.modified {

	&__key {}

	&__value {
		background-color: #19D212;
		color: #000;
	}
}

.status {

	&__key {}

	&__value {}
}

.status--completed {}

.responsive {

	&__key {}

	&__value {}
}

.tech-stack {

	&__key {}

	&__value {}

	&__html {}

	&__css {}

	&__sass {}
}