<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Airpods</title>
    <link rel="stylesheet" href="styles/css/style.css">
    <link rel="shortcut icon" href="images/logo-dark.svg" type="image/x-icon">
  </head>

  <body>
    <header class="header">
      <div class="header__container">
        <div class="header__top">
          <div class="header__logo">
            <img src="images/logo-dark.svg" alt="logo">
          </div>
          <nav class="header__navigation">
            <ul class="header__list">
              <li class="header__item">
                <a class="header__item" href="#">Info</a>
              </li>
              <li class="header__item">
                <a class="header__item" href="#">Product</a>
              </li>
              <li class="header__item">
                <a class="header__item" href="#">Contacts</a>
              </li>
              <li class="header__item">
                <button class="header__button button">BUY</button>
              </li>
            </ul>
          </nav>
        </div>
        <div class="header__content">
          <h1 class="header__title title">
            <span class="header__title--air">Air</span><span class="header__title--pod">pod</span><span
              class="header__title--s">s</span><span class="header__title--m">M</span><span
              class="header__title header__title--ax">AX</span>
          </h1>
          <div class="header__images">
            <img src="images/headphones/airpods-pink.png" alt="airpods-pink">
            <!-- <img src="images/headphones/airpods-green.png" alt="airpods-green">
          <img src="images/headphones/airpods-skyblue.png" alt="airpods-skyblue">
          <img src="images/headphones/airpods-silver.png" alt="airpods-silver">
          <img src="images/headphones/airpods-spacegray.png" alt="airpods-spacegray"> -->
          </div>
        </div>
      </div>
    </header>
    <main class="main">
      <section class="choose-color">
        <div class="choose-color__container">
          <h2 class="choose-color__title">
            Choose your color
          </h2>
          <div class="choose-color__text">
            The perfect balance between the purityof hi‑fi and the magic of AirPods.
            <br>The ultimate personal audio experience.
          </div>
          <div class="choose-color__list">
            <button class="choose-color__button">
              <img src="images/thumbnails/airpods-green.png" alt="airpods-green">
            </button>
            <button class="choose-color__button">
              <img src="images/thumbnails/airpods-skyblue.png" alt="airpods-skyblue">
            </button>
            <button class="choose-color__button">
              <img src="images/thumbnails/airpods-silver.png" alt="airpods-silver">
            </button>
            <button class="choose-color__button">
              <img src="images/thumbnails/airpods-spacegray.png" alt="airpods-spacegray">
            </button>
            <!-- <button class="choose-color__button">
              <img src="images/thumbnails/airpods-pink.png" alt="airpods-pink">
            </button> -->
          </div>
        </div>
      </section>
      <section class="composition">
        <div class="composition__container">
          <h2 class="composition__title title">
            An extremely original composition.
          </h2>
          <p class="composition__text">
            Introducing the reinvention of over-the-ear headphones. From the cushion to the headband, the AirPods Max
            are designed with acoustic insulation in mind, adapted to many head shapes, so you can immerse yourself in
            the purity of sound.
          </p>
          <div class="composition__row">
            <div class="composition__col-text">
              <p>
                The headband is made of breathable mesh, distributing the weight to reduce pressure on the head.
              </p>
              <p>
                The stainless steel structure is wrapped in a soft-touch material to provide a remarkable harmony
                between resistance, flexibility and comfort.
              </p>
              <p>
                The telescoping arms expand and stay in any position you want, allowing you to maintain fit and
                isolation.
              </p>
            </div>
            <div class="composition__col-image">
              <img src="images/side/airpods-pink.png" alt="airpods-pink">
            </div>
          </div>
        </div>
      </section>
      <section class="case">
        <div class="case__container">
          <h2 class="case__title title">
            It even preserves the battery.
          </h2>
          <div class="case__text">
            When stored in the sleek and lightweight Smart Case, AirPods Max enter a low-power state to save energy.
          </div>
          <div class="case__image">
            <img src="images/cases/airpods-pink.png" alt="airpods-pink case">
          </div>
        </div>
      </section>
      <section class="battery">
        <div class="battery__container">
          <div class="battery__title title">
            Stayin' alive, stayin' alive.
          </div>
          <span class="battery__number">
            20
          </span>
          <p class="battery__text">
            hours of music, movies and calls with Active Noise Cancellation and Custom Spatial Audio turned on. 5 And
            just 5 minutes of charging via the Lightning connector gives you an hour and a half of sound. 6
          </p>
        </div>
      </section>
      <section class="audio">
        <div class="audio__container">
          <div class="audio__row">
            <div class="audio__text">
              <p>
                Custom Spatial Audio with dynamic head tracking provides a surround sound experience worthy of a movie
                theater.
              </p>
              <p>
                Through built-in gyroscopes and accelerometers, AirPods Max and your iPhone, iPad, Mac or Apple TV
                detect
                the slightest head movements and keep the sound steady on your device.
              </p>
              <p>
                And with Apple Music, custom Spatial Audio with dynamic head tracking creates a unique three-dimensional
                listening experience.
              </p>
            </div>
            <div class="audio__button button">BUY</div>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="footer__container">
        <div class="footer__col">
          <p>Find a retailer near you</p>
          <p>Or call <a class="footer__tel" href="tel:800207758">800 207 758</a></p>
          <div class="footer__logo">
            <img src="images/logo-light.svg" alt="logo">
          </div>
        </div>
        <div class="footer__row">
          <div class="footer__copyright">
            <p>Copyright © 2023 Apple Inc.</p>
            <p>All rights reserved.</p>
          </div>
          <nav class="footer__navigation">
            <a class="footer__link" href="">Legal Notices</a>
            <a class="footer__link" href="">Site Map</a>
            <a class="footer__link" href="">Privacy Policy</a>
          </nav>
        </div>
      </div>
    </footer>
    <div style="background-color: #060638; color: #5c94e8; text-align: center; padding: 10px;">
      <p>Coded by <a href="https://github.com/mikroffarad" target="_blank"
          style="font-weight: 700; text-decoration: underline;">mikroffarad</a></p>
      <p>
        <a href="https://github.com/mikroffarad/workbench/tree/main/mentors/from0to1/layouts/airpods"
        style="font-weight: 700; text-decoration: underline;" target="_blank">
        Source code</a>,
        <a href="https://drive.google.com/file/d/1JGrY6rWK20_VtqJBvsIx-vZa4e2aQ1pg/view"
        style="font-weight: 700; text-decoration: underline;" target="_blank">
        Design</a>,
        <a href="https://github.com/mikroffarad/workbench/"
        style="font-weight: 700; text-decoration: underline;" target="_blank">
        More projects</a>
      </p>
    </div>
  </body>

</html>