<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Airpods</title>
  <link rel="stylesheet" href="styles/css/style.css">
  <link rel="shortcut icon" href="images/logo.svg" type="image/x-icon">
</head>
<body>
  <header class="header">
    <div class="header__container">
      <div class="header__top">
        <div class="header__logo">
          <img src="images/logo.svg" alt="logo">
        </div>
        <nav class="header__navigation">
          <ul class="header__list">
            <li class="header__item">
              <a class="header__item" href="#">Info</a>
            </li>
            <li class="header__item">
              <a class="header__item" href="#">Product</a>
            </li>
            <li class="header__item">
              <a class="header__item" href="#">Contacts</a>
            </li>
            <li class="header__item">
              <button class="header__button">BUY</button>
            </li>
          </ul>
        </nav>
      </div>
      <div class="header__content">
        <h1 class="header__title title">
          <span class="header__title--air">Air</span><span class="header__title--pod">pod</span><span class="header__title--s">s</span><span class="header__title--m">M</span><span class="header__title header__title--ax">AX</span>
        </h1>
        <div class="header__images">
          <img src="images/headphones/airpods-pink.png" alt="airpods-pink">
          <!-- <img src="images/headphones/airpods-green.png" alt="airpods-green">
          <img src="images/headphones/airpods-skyblue.png" alt="airpods-skyblue">
          <img src="images/headphones/airpods-silver.png" alt="airpods-silver">
          <img src="images/headphones/airpods-spacegray.png" alt="airpods-spacegray"> -->
        </div>
      </div>
    </div>
  </header>
</body>
</html>