.intro {
  &__container {
    display: flex;
    gap: 32px;
    & > * {
      flex: 0 1 50%;
    }
  }

  &__content {
    display: flex;
    align-self: center;
  }

  &__header {
    &::before {
      content: "";
      background: url("../../images/decorator.svg") 0 0 / 100% no-repeat;
      width: 122px;
      height: 122px;
      position: absolute;
      top: -10px;
      left: -30px;
    }
  }
}

.header-main {
  position: relative;



  &__title {
    &:not(:last-child) {
      margin-bottom: 28px;
    }
  }

  &__text {
    font-size: 18px;

    &:not(:last-child) {
      margin-bottom: 33px;
    }
  }

  &__actions {
    display: flex;
    column-gap: 32px;
    row-gap: 15px;
  }
}

.images-intro {
  display: flex;
  gap: 9.615385%; /* 60/624 */

  justify-content: center;
  &__column {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  &__item {
    overflow: hidden;

    img {
      max-width: 100%;
      transform: scale(1.01);
    }

    &--big {
      border-radius: 50% / 30%;
    }

    &--small1 {
      border-radius: 50% 50% 0 50%;
    }

    &--small2 {
      border-radius: 50% 0 50% 50%;
    }
  }
}

@media (min-width: 767.98px) {
  .header-intro {
    &__title {
      max-width: 520px;
    }
    &__text {
      max-width: 500px;
    }
  }
}

@media (max-width: 767.98px) {
  .intro {
    &__container {
      flex-direction: column;
    }
  }

  .header-intro {
    &__title,
    &__text {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }

    &__actions {
      gap: 15px;
    }
  }
}

@media (max-width: 479.98px) {
  .header-intro {
    &__title {
      font-size: 32px;
    }
  }

  .header-intro {
    &__actions {
      flex-direction: column;
    }
  }
}
