<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RealEstate</title>
  <link rel="stylesheet" href="styles/css/main.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
  <meta name="theme-color" content="#F85A47" />
</head>

<body>
  <div class="wrapper">
    <header class="header">
      <div class='header__container'>
        <nav class="header__menu menu">
          <a href="" class="menu__logo logo">SmartSpace</a>
          <ul class="menu__list">
            <li class="menu__item">
              <a href="" class="menu__link">Home</a>
            </li>
            <li class="menu__item">
              <a href="" class="menu__link">About</a>
            </li>
            <li class="menu__item">
              <a href="" class="menu__link">Service</a>
            </li>
            <li class="menu__item">
              <a href="" class="menu__link">Portfolio</a>
            </li>
            <li class="menu__item">
              <a href="" class="menu__link">Blog</a>
            </li>
            <li class="menu__item">
              <a href="" class="menu__link">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main class="page">
      <section class="page__intro intro">
        <div class='intro__container'>
          <div class="intro__body body-intro">
            <div class="body-intro__content content-intro">
              <div class="content-intro__body">
                <div class="content-intro__sub-title">RESIDENTIAL & OFFICE SPACES</div>
                <h1 class="content-intro__title">Smart Living Style for Smart People</h1>
                <div class="content-intro__text text">Much did had call new drew that kept. Limits expect wonder law
                  she. Now has you views woman noisy match money rooms.</div>
              </div>
              <form class="content-intro__form form-intro" action="#">
                <input placeholder="Enter Zipcode to search properties" type="text" class="form-intro__input input">
                <button type="submit" class="form-intro__button button">Search Now!</button>
              </form>
            </div>
            <div class="body-intro__slider slider-intro swiper">
              <!-- Additional required wrapper -->
              <div class="slider-intro__wrapper swiper-wrapper">
                <!-- Slides -->
                <div class="slider-intro__slide swiper-slide">
                  <img src="images/main/slider/01.jpg" alt="Slider Image">
                </div>
                <div class="slider-intro__slide swiper-slide">
                  <img src="images/main/slider/01.jpg" alt="Slider Image">
                </div>
                <div class="slider-intro__slide swiper-slide">
                  <img src="images/main/slider/01.jpg" alt="Slider Image">
                </div>
              </div>
            </div>
            <div class="body-intro__arrows">
              <div class="body-intro__arrow swiper-button-prev"></div>
              <div class="body-intro__arrow swiper-button-next"></div>
            </div>
          </div>
          <div class='intro__partners partners-intro'>
            <div class="partners-intro__label text">Our Amazing Partners</div>
            <div class="partners-intro__items">
              <div class="partners-intro__item">
                <img src="images/main/partners/01.svg" alt="Partner">
              </div>
              <div class="partners-intro__item">
                <img src="images/main/partners/02.svg" alt="Partner">
              </div>
              <div class="partners-intro__item">
                <img src="images/main/partners/03.svg" alt="Partner">
              </div>
              <div class="partners-intro__item">
                <img src="images/main/partners/04.svg" alt="Partner">
              </div>
              <div class="partners-intro__item">
                <img src="images/main/partners/05.svg" alt="Partner">
              </div>
              <div class="partners-intro__item">
                <img src="images/main/partners/06.svg" alt="Partner">
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="page__how-it-works how-it-works">
        <div class="how-it-works__container">
          <h2 class="how-it-works__title title">How it works?</h2>
          <div class="how-it-works__cards">
            <div class="how-it-works__card card-how card-how--1">
              <div class="card-how__icon"><img src="images/how-it-works/01.svg" alt="Icon"></div>
              <div class="card-how__title">Research Suburbs</div>
              <div class="card-how__text text">Wonder twenty hunted and put income set desire expect. Am cottage
                calling.
              </div>
            </div>
            <div class="how-it-works__card card-how card-how--2">
              <div class="card-how__icon"><img src="images/how-it-works/02.svg" alt="Icon"></div>
              <div class="card-how__title">Instant Valuation</div>
              <div class="card-how__text text">Conveying or northward offending admitting perfectly my. Colonel gravit
                and
                moonlight.</div>
            </div>
            <div class="how-it-works__card card-how card-how--3">
              <div class="card-how__icon"><img src="images/how-it-works/03.svg" alt="Icon"></div>
              <div class="card-how__title">Track Property</div>
              <div class="card-how__text text">Moderate children at of outweigh it. Unsatiable it considered invitation
                he
                travelling insensible.</div>
            </div>
          </div>
        </div>
      </section>
      <section class="page__deals deals">
        <div class="deals__container">
          <div class="deals__header header-deals">
            <div class="header-deals__content">
              <h2 class="header-deals__title title">Best Real Estate Deals</h2>
              <div class="header-deals__text text">Colonel gravity get thought fat smiling add but. Wonder twenty hunted and
                put income set desire expect.</div>
            </div>
            <a href="#" class="header-deals__link button button--link">View All Properties</a>
          </div>
          <div class="deals__tabs tabs-deals">
            <nav class="tabs-deals__navigation">
              <button class="tabs-deals__button-tab active" type="button">Residential Property</button>
              <button class="tabs-deals__button-tab" type="button">Commercial Property</button>
              <button class="tabs-deals__button-tab" type="button">Agriculture Property</button>
              <button class="tabs-deals__button-tab" type="button">Industrial Property</button>
            </nav>
            <div class="tabs-deals__section">
              <div class="tabs-deals__tab active">
                <div class="tabs-deals__property-list property-list">
                  <div class="property-list__item">
                    <div class="property-list__options">
                      <a class="property-list__option" href="#">Featured</a>
                      <a class="property-list__option" href="#">3D</a>
                    </div>
                    <a href="" class="property-list__image">
                      <img src="../images/deals/01.jpg" alt="Deal">
                    </a>
                  </div>
                </div>
              </div>
              <div class="tabs-deals__tab">
                <div class="tabs-deals__property-list property-list">
                  <div class="property-list__item">
                    <div class="property-list__options">
                      <a class="property-list__option" href="#">Featured</a>
                      <a class="property-list__option" href="#">3D</a>
                    </div>
                    <a href="" class="property-list__image">
                      <img src="../images/deals/02.jpg" alt="Deal">
                    </a>
                  </div>
                </div>
              </div>
              <div class="tabs-deals__tab">
                <div class="tabs-deals__property-list property-list">
                  <div class="property-list__item">
                    <div class="property-list__options">
                      <a class="property-list__option" href="#">Featured</a>
                      <a class="property-list__option" href="#">3D</a>
                    </div>
                    <a href="" class="property-list__image">
                      <img src="../images/deals/03.jpg" alt="Deal">
                    </a>
                  </div>
                </div>
              </div>
              <div class="tabs-deals__tab">
                <div class="tabs-deals__property-list property-list">
                  <div class="property-list__item">
                    <div class="property-list__options">
                      <a class="property-list__option" href="#">Featured</a>
                      <a class="property-list__option" href="#">3D</a>
                    </div>
                    <a href="" class="property-list__image">
                      <img src="../images/deals/01.jpg" alt="Deal">
                    </a>
                  </div>
                  <div class="property-list__item">
                    <div class="property-list__options">
                      <a class="property-list__option" href="#">Featured</a>
                      <a class="property-list__option" href="#">3D</a>
                    </div>
                    <a href="" class="property-list__image">
                      <img src="../images/deals/02.jpg" alt="Deal">
                    </a>
                  </div>
                  <div class="property-list__item">
                    <div class="property-list__options">
                      <a class="property-list__option" href="#">Featured</a>
                      <a class="property-list__option" href="#">3D</a>
                    </div>
                    <a href="" class="property-list__image">
                      <img src="../images/deals/03.jpg" alt="Deal">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="page__featured featured">
        <div class="featured__container">
          <div class="featured__title title">Featured Listing of the Week</div>
          <div class="featured__body">
            <div class="featured__images images-featured">
              <div class="images-featured__item">
                <img src="images/featured/01.jpg" alt="featured">
              </div>
              <div class="images-featured__item images-featured__item--foreground">
                <img src="images/featured/02.jpg" alt="featured">
              </div>
            </div>
            <div class="featured__content content-featured">
              <div class="content-featured__body">
                <h2 class="content-featured__title">The and collecting for the motionless difficulty son.</h2>
                <div class="content-featured__text text">
                  <p>Conveying or northward offending admitting perfectly my. Colonel gravity get thought fat smiling
                    add
                    but difficult situations.</p>
                </div>
                <div class="content-featured__options options-content-featured">
                  <div class="options-content-featured__item">
                    <div class="options-content-featured__label">Budget</div>
                    <div class="options-content-featured__value">Confidential</div>
                  </div>
                  <div class="options-content-featured__item">
                    <div class="options-content-featured__label">Size</div>
                    <div class="options-content-featured__value">1200 m2</div>
                  </div>
                  <div class="options-content-featured__item">
                    <div class="options-content-featured__label">Type</div>
                    <div class="options-content-featured__value">Office</div>
                  </div>
                  <div class="options-content-featured__item">
                    <div class="options-content-featured__label">Status</div>
                    <div class="options-content-featured__value">Done</div>
                  </div>
                  <div class="options-content-featured__item">
                    <div class="options-content-featured__label">Location</div>
                    <div class="options-content-featured__value">Switzerland</div>
                  </div>
                  <div class="options-content-featured__item">
                    <div class="options-content-featured__label">Flat</div>
                    <div class="options-content-featured__value">8 Room</div>
                  </div>
                </div>
              </div>
              <a href="#" class="content-featured__link button button--link">YES! I WANT BOOK <br> “OFFICE PACKAGE”</a>
            </div>
          </div>
        </div>
      </section>
      <section class="page__reviews reviews">
        <div class="reviews__container">
          <h2 class="reviews__title title">Loved by businesses, and individuals across the globe.</h2>
          <div class="reviews__row">
            <a href="" class=" reviews__col col-reviews">
              <div class="col-reviews__rating rating-snippet">
                <div class="rating-snippet__row">
                  <input id="rating-snippet__15" type="radio" class="rating-snippet__col" name="rating-snippet-1"
                    value="5">
                  <label for="rating-snippet__15" class="rating-snippet__label"></label>
                  <input id="rating-snippet__14" type="radio" class="rating-snippet__col" name="rating-snippet-1"
                    value="4">
                  <label for="rating-snippet__14" class="rating-snippet__label"></label>
                  <input id="rating-snippet__13" type="radio" class="rating-snippet__col" name="rating-snippet-1"
                    value="3">
                  <label for="rating-snippet__13" class="rating-snippet__label"></label>
                  <input id="rating-snippet__12" type="radio" class="rating-snippet__col" name="rating-snippet-1"
                    value="2">
                  <label for="rating-snippet__12" class="rating-snippet__label"></label>
                  <input id="rating-snippet__11" type="radio" class="rating-snippet__col" name="rating-snippet-1"
                    value="1">
                  <label for="rating-snippet__11" class="rating-snippet__label"></label>
                </div>
              </div>
              <div class="col-reviews__text">
                <p>Moderate children at of outweigh it. Unsatiable it considered invitation he travelling insensible.
                  Consulted admitting oh mr up as described.</p>
              </div>
              <div class="col-reviews__author author-col-reviews">
                <div class="author-col-reviews__picture">
                  <img src="images/reviews/01.jpg" alt="Picture">
                </div>
                <div class="author-col-reviews__content">
                  <div class="author-col-reviews__name">Jane Cooper</div>
                  <div class="author-col-reviews__location">Los Angeles, CA</div>
                </div>
              </div>
            </a>
            <a href="" class=" reviews__col col-reviews">
              <div class="col-reviews__rating rating-snippet">
                <div class="rating-snippet__row">
                  <input id="rating-snippet__25" type="radio" class="rating-snippet__col" name="rating-snippet-2"
                    value="5">
                  <label for="rating-snippet__25" class="rating-snippet__label"></label>
                  <input id="rating-snippet__24" type="radio" class="rating-snippet__col" name="rating-snippet-2"
                    value="4">
                  <label for="rating-snippet__24" class="rating-snippet__label"></label>
                  <input id="rating-snippet__23" type="radio" class="rating-snippet__col" name="rating-snippet-2"
                    value="3">
                  <label for="rating-snippet__23" class="rating-snippet__label"></label>
                  <input id="rating-snippet__22" type="radio" class="rating-snippet__col" name="rating-snippet-2"
                    value="2">
                  <label for="rating-snippet__22" class="rating-snippet__label"></label>
                  <input id="rating-snippet__21" type="radio" class="rating-snippet__col" name="rating-snippet-2"
                    value="1">
                  <label for="rating-snippet__21" class="rating-snippet__label"></label>
                </div>
              </div>
              <div class="col-reviews__text">
                <p>The and collecting motionless difficulty son. His hearing staying ten colonel met. Sex drew six easy
                  four dear cold</p>
              </div>
              <div class="col-reviews__author author-col-reviews">
                <div class="author-col-reviews__picture">
                  <img src="images/reviews/02.jpg" alt="Picture">
                </div>
                <div class="author-col-reviews__content">
                  <div class="author-col-reviews__name">Robert Fox</div>
                  <div class="author-col-reviews__location">New York City, NY</div>
                </div>
              </div>
            </a>
            <a href="" class=" reviews__col col-reviews">
              <div class="col-reviews__rating rating-snippet">
                <div class="rating-snippet__row">
                  <input id="rating-snippet__35" type="radio" class="rating-snippet__col" name="rating-snippet-3"
                    value="5">
                  <label for="rating-snippet__35" class="rating-snippet__label"></label>
                  <input id="rating-snippet__34" type="radio" class="rating-snippet__col" name="rating-snippet-3"
                    value="4">
                  <label for="rating-snippet__34" class="rating-snippet__label"></label>
                  <input id="rating-snippet__33" type="radio" class="rating-snippet__col" name="rating-snippet-3"
                    value="3">
                  <label for="rating-snippet__33" class="rating-snippet__label"></label>
                  <input id="rating-snippet__32" type="radio" class="rating-snippet__col" name="rating-snippet-3"
                    value="2">
                  <label for="rating-snippet__32" class="rating-snippet__label"></label>
                  <input id="rating-snippet__31" type="radio" class="rating-snippet__col" name="rating-snippet-3"
                    value="1">
                  <label for="rating-snippet__31" class="rating-snippet__label"></label>
                </div>
              </div>
              <div class="col-reviews__text">
                <p>Moderate children at of outweigh it. Unsatiable it considered invitation he travelling insensible.
                  Consulted admitting oh mr up as described. </p>
              </div>
              <div class="col-reviews__author author-col-reviews">
                <div class="author-col-reviews__picture">
                  <img src="images/reviews/03.jpg" alt="Picture">
                </div>
                <div class="author-col-reviews__content">
                  <div class="author-col-reviews__name">Leslie Alexander</div>
                  <div class="author-col-reviews__location">Buffalo, NJ</div>
                </div>
              </div>
            </a>
          </div>
          <div class="reviews__footer footer-reviews">
            <div class="footer-reviews__partners partners-footer-reviews">
              <div class="partners-footer-reviews__item">
                <img src="images/main/partners/01.svg" alt="">
              </div>
              <div class="partners-footer-reviews__item">
                <img src="images/main/partners/02.svg" alt="">
              </div>
              <div class="partners-footer-reviews__item">
                <img src="images/main/partners/03.svg" alt="">
              </div>
              <div class="partners-footer-reviews__item">
                <img src="images/main/partners/04.svg" alt="">
              </div>
              <div class="partners-footer-reviews__item">
                <img src="images/main/partners/05.svg" alt="">
              </div>
            </div>
            <div class="footer-reviews__info">
              Give us a Call 1-888-111-2222 and we can set you up, or <a href="">check our pricing plans</a>
            </div>
          </div>
        </div>
      </section>
      <section class="page__subscription subscription">
        <div class="subscription__container">
          <div class="subscription__header">
            <h2 class="subscription__title">Get Our Newsletter</h2>
            <div class="subscription__subtitle">To join the worldwide community</div>
          </div>
          <form action="#" class="subscription__form form-subscription">
            <label for="input-1" class="form-subscription__label">Type your Email Address</label>
            <div class="form-subscription__body">
              <input autocomplete="off" type="text" name="form[]" placeholder="example580@gmail.com"
                class="form-subscription__input input">
              <button type="submit" class="form-subscription__button button">Send Now</button>
            </div>
          </form>
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="footer__container">
        <nav class="footer__menu menu">
          <a href="" class="menu__logo logo">SmartSpace</a>
          <ul class="menu__list">
            <li class="menu__item">
              <a href="" class="menu__link">Home</a>
            </li>
            <li class="menu__item">
              <a href="" class="menu__link">About</a>
            </li>
            <li class="menu__item">
              <a href="" class="menu__link">Service</a>
            </li>
            <li class="menu__item">
              <a href="" class="menu__link">Portfolio</a>
            </li>
            <li class="menu__item">
              <a href="" class="menu__link">Blog</a>
            </li>
            <li class="menu__item">
              <a href="" class="menu__link">Contact</a>
            </li>
          </ul>
        </nav>
        <div class="footer__copyright">Copyright © 2021 AR Shakir . All Rights Reseved.</div>
      </div>

    </footer>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
  <script src="scripts/script.js"></script>
</body>

</html>