@use "variables";
@import "reset";
@import "container";
@import "header";
@import "hero";

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: clip;
}

.main {
    flex-grow: 1;
}

body {
    background-color: #aaa;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.78;
}

.wrapper {
    &__hero {
        padding-top: 32px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
    }
}
.hero {
    &__header {
    }

    &__intro {
    }

    &__background {
    }

    img {
        will-change: transform;
        transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
        transform-style: preserve-3d;
    }
}
.header {
    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__logo {
    }

    &__menu {
    }

    &__list {
        display: flex;
        gap: 40px;
    }

    &__item {
    }

    &__link {
    }

    &__cart {
    }
}
.intro {
    &__uptitle {
    }

    &__title {
    }

    &__subtitle {
    }
}
