@import 'shop/goods';
@import 'shop/unit';

.promo-text, .main-text, .goods, .unit {
    &__inner {
        padding: 20px 0;
    }
}

.promo-text {
    background: url("../../images/main/main-background.jpg") no-repeat;
    background-position:center center;
    background-size: 100% 100%, auto;
    height: 600px;

    &__inner {
    }
}
.container {

    &__header {
        font-size: 2em;
        color: #000;
        margin-bottom: 25px;
        background-color: #fff;
        text-align: center;
        u, b {
            color: inherit;
        }
    }

    &__header--red-text {
        background-color: #f00;
    }

    &__header--green-text {
        background-color: #0f0;
    }
}
.main-text {
    padding: 20px 0;
}
