@import "null_style.scss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto&family=Water+Brush&display=swap');

$pfz:50px;

// Describes an order formula of elements and text color
@mixin colors($a, $b, $col) {
  li:nth-child(#{$a}n+#{$b}) {
    color: $col;
  }
}

.container {
    // Center elements  
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // Making background
    background-color: #29539b;
    background-image: linear-gradient(315deg, #29539b 0%, #1e3b70 74%);
    // Centering text
    text-align: center;
    // Editing text properties
    font-size: $pfz;
    line-height: 70px;
    color: #fff;
    font-family: 'Roboto', sans-serif;

    // Centered container
    .container__text {
        // Google and DuckDuckGo
        .link {
            font-family: 'Open Sans', sans-serif;

            .google {
                @extend %multicolor;

                margin-bottom: 15px;
                font-weight: 700;
                font-size: $pfz+30;

                @include colors(3, 0,#F7B529);
                @include colors(2, 2,#FF3E30);
                @include colors(3, 1,#176BEF);
                @include colors(5, 0,#179C52);
            }

            .ddg {
              @extend %multicolor;

              font-size: $pfz+10;
              background: url(../img/icons8-duckduckgo-64.png) 0px no-repeat;
              padding-left: 64px;
              //Making gradient «DuckDuckGo» text
              li {
                background: -webkit-linear-gradient(#1B6BFB, #C422FA);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
              }
              // Applying animation (hue-rotate)
              @extend %gradient;
            }
          }
        p span {
            color: #DC84AE;
            font-family: 'Water Brush', cursive;
            font-weight: 700;
            @extend %gradient;
          }
      }
}
// Gradient animation
%gradient {
  @keyframes hue {
    to {
      filter: hue-rotate(1turn);
    }
  }
  animation: hue 5s linear infinite;
}
// Multicolor — makes elements of list look like a text via flexbox
%multicolor {
  display: flex;
  align-items:center;
  justify-content: center;
}
// Condition for smartphone screen
@media screen and (max-width: 432px) {
  .ddg li {
    font-size: $pfz;
  }
  body {
    height: 100%;
  }
}