<section class="services">
    <div class="services__inner container">
        <h2 class="title services__title title--fw-light title--medium">
            What we do to help our client grow in digital era
        </h2>
        <ul class="services__cards card">
            <li class="card__unit">
                <div class="card__image">
                    <img src="images/services/services__card1.svg" alt="">
                </div>
                <h3 class="title card__title title--fw-normal title--small">
                    Make Your business To Be Better Famous In Internet
                </h3>
                <p class="subtitle card__subtitle">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.
                </p>
                <a class="card__link link" href="#">
                    <span class="link__text">Learn more</span>
                    <img class="link__arrow" src="images/services/services__arrow.svg" alt="">
                </a>
            </li>
            <li class="card__unit">
                <div class="card__image">
                    <img src="images/services/services__card2.svg" alt="">
                </div>
                <h3 class="title card__title title--card title--fw-normal title--small">
                    Make Your business To Be Better Famous In Internet
                </h3>
                <p class="subtitle card__subtitle">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.
                </p>
                <a class="card__link link" href="#">
                    <span class="link__text">Learn more</span>
                    <img class="link__arrow" src="images/services/services__arrow.svg" alt="">
                </a>
            </li>
            <li class="card__unit">
                <div class="card__image">
                    <img src="images/services/services__card3.svg" alt="">
                </div>
                <h3 class="title card__title title--card title--fw-normal title--small">
                    Make Your business To Be Better Famous In Internet
                </h3>
                <p class="subtitle card__subtitle">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.
                </p>
                <a class="card__link link" href="#">
                    <span class="link__text">Learn more</span>
                    <img class="link__arrow" src="images/services/services__arrow.svg" alt="">
                </a>
            </li>
        </ul>
    </div>
</section>