.main-article {

  display: grid;
  grid-template-columns: repeat(9, variables.$grid-column-width);
  gap: variables.$grid-column-gap;
  margin-bottom: 50px;

  &__image-container {
    position: relative;
    grid-column: span 3;
    min-height: 185px;
    max-height: 344px;
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
  }

  &__content {
    grid-column: 4/-1;
    padding-right: 63px;
  }

  &__title {
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    color: variables.$color-primary;
    margin-bottom: 34px;
  }

  &__text {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: variables.$color-primary;
    margin-bottom: 12px;
  }
}

.main-article__category {
  margin-bottom: 7px;
}