.description {

    background: url(/images/description/bg.svg) center;

    &__inner {
        padding: 50px 0;
        height: 250px;
    }

    &__text {
        text-align: center;
        letter-spacing: 0.04em;
    }

    &__title {
        font-weight: 500;
        font-size: 44px;
        line-height: 74px;
        color: #fff;
    }

    &__subtitle {
        letter-spacing: 0.04em;
        margin: 0 auto;
        font-size: 20px;
        line-height: 30px;
        max-width: 780px;
    }
}
