
:root {
    --color-primary: #262A2F;
    --color-accent: #FF5533;
    --color-grey: #868686;
    --color-white: #FFFFFF;

    --grid-column-width: 101px;
    --grid-column-gap: 20px;
}

* {
    all: unset;
    display: revert;
}











.main-article {
    display: grid;
    grid-template-columns: repeat(9, var(--grid-column-width));
    gap: var(--grid-column-gap);
    margin-bottom: 50px;
}

.main-article__image-container {
    position: relative;
    grid-column: span 3;
    min-height: 185px;
    max-height: 344px;
}

.main-article__image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.main-article__content {
    grid-column: 4/-1;
    padding-right: 63px;
}







.main-article__text {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: variables.$color-primary;
    margin-bottom: 12px;
}

/* .main-article__source {
    
} */

.small-article {
    padding-left: 11px;
    border-left: 9px solid variables.$color-primary;
    margin-bottom: 35px;
}

.small-article__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: variables.$color-primary;
    margin-bottom: 14px;
    
    /* Limit title to 3 lines */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}



