* {
  margin: 0;
  padding: 0;
}
.content {
  display: flex;
  flex-wrap: wrap;
}
.item {
  width: 50vw;
  height: 50vh;
}
.color-1 {
  background-color: #ffbb00;
}
.color-2 {
  background-color: #7cbb00;
}
.color-3 {
  background-color: #00a1f1;
}
.color-4 {
  background-color: #f65314;
}