@media screen and (max-width: 1000px) {
	body {
		align-items: unset !important;
		padding: 20px 10px;
	}
	.about {
		&__header {
			margin-bottom: 20px !important;
		}
		&__row {
			flex-direction: column;
		}
	}

	.item-about {
		&__icon {
			margin-bottom: 15px !important;
		}
		&__title {
			margin-bottom: 15px !important;
		}
		&__text {
			max-width: 500px !important;
			margin-bottom: 30px !important;
		}
	}
}