.main {

    &__clients {
    }
}
.clients {

    &__container {
    }

    &__title {
        text-transform: uppercase;
        margin-bottom: 44px;
        text-align: center;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 1px;
    }

    &__row {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 15px;
    }

    &__column {
        img {
            max-width: 100%;
        }
    }
}

@media (max-width: 767.98px) {
    .clients {
        &__title {
            margin-bottom: 20px;
        }
    }
}