.intro {

  &__container {
    
    position: relative;

    &::after {
      background-color: #BDCCFF;
      content: "";
      position: absolute;
      width: 200%;
      top: 0;
      left: 68%;
      height: 100%;
    }
  }

  &__body {
    margin-bottom: 14px;
  }

  &__partners {}
}

.body-intro {

  position: relative;
  display: flex;

  & > * {
    flex: 0 1 50%;
  }
  
  &__content {
    
  }

  &__slider {
    min-height: 0;
  }

  &__arrows {
    position: absolute;
    bottom: -52px;
    right: 0;
    display: flex;
    gap: 40px;
    align-items: center;
  }

  &__arrow {

    &.swiper-button-prev,
    &.swiper-button-next {
      position: static;
      height: 20px;
      width: 11px;
      background: url('../../images/icons/arrow.svg') 0 0 / 100% no-repeat;
    }

    &::after {
      display: none;
    }

    &.swiper-button-prev {
      transform: rotate(-180deg);
    }
  }
}

.content-intro {

  padding-top: 40px;

  position: relative;
  z-index: 2;

  &__body {
    padding-right: 80px;
  }

  &__sub-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 29px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__title {
    font-weight: 800;
    font-size: 54px;
    line-height: 73px;
    margin-bottom: 23px;
  }

  &__text {
    margin-bottom: 45px;
  }

  &__form {}
}

.slider-intro {

  &__wrapper {}

  &__slide {
    position: relative;
    padding-bottom: 95%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.form-intro {
  height: 86px;
  position: relative;
  z-index: 5;
  display: flex;
  margin-right: -188px;
  box-shadow: 0px 1.8518518209457397px 3.1481480598449707px 0px rgba(0, 0, 0, 0.01), 0px 8.148148536682129px 6.518518447875977px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.51852035522461px 25.481481552124023px 0px rgba(0, 0, 0, 0.02), 0px 64.81481170654297px 46.85185241699219px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.03);
  
  & > * {
    height: 100%;
  }

  &__input {
    width: 100%;
    background: #FFF url('../../images/main/home.svg') 33px 50% no-repeat;
    padding-left: 74px;
  }

  &__button {
    flex: 0 0 188px;
    font-weight: 700 !important;
    box-shadow: unset !important;
  }
}

.partners-intro {

  max-width: 65%;

  &__label {
    margin-bottom: 25px;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
  }

  &__item {
    img {
      max-width: 100%;
    }
  }
}

@media (max-width: 1199.98px) {

  .intro {
    &__container {
      padding-top: 100px;
      padding-bottom: 30px;
    }

    &__body {
      margin-bottom: 44px;
    }
  }

  .content-intro {
    &__body {
      padding-right: 0;
    }
  }

  .body-intro {
    
    display: block;

    &__content {
      margin-bottom: 120px;
    }
  }

  .form-intro {
    margin-right: 0;
  }

  .partners-intro {
    position: relative;
    z-index: 1;
    max-width: none;
  }

  .form-intro {
    display: block;

    &__button {
      width: 100%;
    }
  }
}

@media (max-width: 767.98px) {

  .intro {
    &__container {
      &::after {
        display: none;
      }
    }
  }

  .body-intro {
    &__content {
      margin-bottom: 80px;
    }
  }

  .partners-intro {
    &__items {
      justify-content: center;
    }
  }

  .content-intro {
    &__title {
      font-size: 30px;
      line-height: 1.2;
    }

    &__text {
      margin-bottom: 25px;
    }
  }

  .form-intro {
    height: 60px;
  }
}

@media (max-width: 479.98px) {
  .form-intro {
    background: #fff;

    &__input {
      background: #fff;
      padding: 0 15px;
    }
  }
}