@import 'reset';
@import 'container';
@import 'header';
@import 'intro';
@import 'how-it-works';
@import 'deals';
@import 'featured';
@import 'reviews';
@import 'subscription';
@import 'footer';
@import 'colorScheme';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

* {
  &:focus {
    outline-width: 2px;
    outline-style: solid;
  }
}

body {
  font-family: Manrope;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1 1 auto;
}


// Blocks:

.title {
  font-weight: 600;
  font-size: 40px;
  line-height: 1.375;

  &--center {
    text-align: center;
  }

  @media (max-width: 767.98px) {
    font-size: 30px;
  }
}

.button {
  cursor: pointer;
  transition: all 0.3s ease 0s;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  background-color: $accentColorMain;
  text-align: center;
  display: inline-block;
  box-shadow: 0px 1.8518518209457397px 3.1481480598449707px 0px rgba(248, 90, 71, 0.02), 0px 8.148148536682129px 6.518518447875977px 0px rgba(248, 90, 71, 0.03), 0px 20px 13px 0px rgba(248, 90, 71, 0.04), 0px 38.51852035522461px 25.481481552124023px 0px rgba(248, 90, 71, 0.04), 0px 64.81481170654297px 46.85185241699219px 0px rgba(248, 90, 71, 0.05), 0px 100px 80px 0px rgba(248, 90, 71, 0.07);

  &--link {
    padding: 16px 35px;
    border-radius: 10px;
  }

  &--form {}

  &:hover {
    background-color: $accentColorFocus;
  }
}

.input {
  transition: all 0.30s linear;
  border: 1px solid #DADADA;

  font-size: 20px;
  flex: 1 1 auto;

  &:focus {
    outline: none;
    border: 1px solid #F85A47;
  }

  &::placeholder {
    color: rgba(43, 53, 59, 0.3);
  }
}

.logo {
  font-size: 23px;
  font-weight: 800;
  color: inherit;
}

.menu {

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  column-gap: 10px;
  row-gap: 20px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 46px;
    row-gap: 10px;
  }

  &__item {}

  &__link {
    font-size: 13px;
    font-weight: 700;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }

  @media (max-width: 767.98px) {

    flex-direction: column;

    &__list {
      justify-content: center;
    }

    &__link {
      font-size: 18px;
    }
  }
}

// Paddings between sections:


.page {
  .intro {
    &__container {

      padding-top: 183px;
      padding-bottom: 110px;

      @media (max-width: 1199.98px) {
        padding-top: 100px;
        padding-bottom: 30px;
      }

      @media (max-width: 991.98px) {
        padding-top: 70px;
      }

      @media (max-width: 767.98px) {
        padding-top: 100px;
      }

      @media (max-height: 1365.98px) {
        padding-top: 120px;
      }
    }

    @media (max-width: 991.98px) {
      padding-bottom: 70px;
    }

    @media (max-width: 767.98px) {
      padding-bottom: 15px;
    }
  }

  .how-it-works,
  .deals,
  .featured,
  .reviews,
  .subscription {
    padding: 80px 0;

    @media (max-width: 991.98px) {
      padding: 70px 0;
    }

    @media (max-width: 767.98px) {
      padding: 30px 0;
    }
  }
}