.projects {
    &__container {
    }

    &__list {
    }

    &__item {
        background-color: $accentColor;
        padding: 8px 20px;
        border-radius: 20px;
        -webkit-tap-highlight-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        color: #FFF;
        text-decoration: none;
        width: 100%;
    }

    &__icon {
        width: 25px;
        height: 25px;
    }

    &__title {
        // font-size: 16px;
        font-weight: 600;
    }
}

