.footer {

    background: variables.$footer-bg-blue;
    color: #fff;

}
.footer-top {

    &__inner {
        padding: 90px 0 64px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        max-width: 340px;
        margin-bottom: 32px;
    }

    &__text {
        max-width: 495px;
    }

    &__subtitle {
    }

    &__btn {
        padding: 15px 80px;
    }
}
.footer-separator {
    border: 1px solid rgba($color: #FFFFFF, $alpha: 0.4);
}
.footer-bottom {

    &__inner {
        padding: 64px 0;
    }

    &__contact-list {
        display: flex;
        justify-content: space-between;
    }

    &__contact-item {
        flex: 0 0 355px;
    }
}
.contact-list {

}
.contact-item {
    display: flex;
    gap: 20px;
    &::before {
        font-weight: 500;
    }

    @mixin contact-before($letter) {
        &::before {
            content: $letter;
        }
    }

    &--address {
        @include contact-before("A.");
    }
    &--phone {
        @include contact-before("T.");
    }
    &--email {
        @include contact-before("E.");
    }    
}
.footer-bottom-extended {

    &__inner {
        padding: 96px 0 64px 0;
    }

    &__row {
        display: flex;

    }

    &__column {
        flex-basis: 50%;
    }

    &__logo {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__logo, &__title {
        margin-bottom: 32px;
    }

    &__contact-list {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__contact-item {
        max-width: 284px;
    }

    &__lists {
        display: flex;
        gap: 82px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__title {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.05em;
    }

    &__item {
    }

    &__link {
    }
}

.footer-logo {

    &__icon {
    }

    &__title {
        font-weight: 500;
font-size: 28px;
line-height: 46px;
/* identical to box height, or 164% */

letter-spacing: 0.02em;
    }
}

.footer-copyright {

		&__inner {
            padding-bottom: 64px;
		}
}