.intro {

    &__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 40px 0 60px;
    }

    &__header {
        flex-basis: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__text-btn {
        margin-top: 115px;
    }

    &__text {
        color: variables.$text-blue;
    }

    &__title {
        max-width: 508px;
        letter-spacing: 0.04em;
        margin-bottom: 32px;
    }

    &__subtitle {
        max-width: 425px;
        margin-bottom: 70px;
    }

    &__btn {
        padding: 15px 50px;
        box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
        border-radius: 10px;
    }

    &__image {
        margin-top: 80px;
    }
}

// .header {

//     &__logo {
//     }

//     &__link {
//     }

//     &__contact {
//     }
// }