@use 'variables';


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import 'reset';
@import 'blocks';
@import 'header';
@import 'intro';
@import 'services';
@import 'footer';

* {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.05em;
    font-size: 16px;
    line-height: 26px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header-intro {
    background: linear-gradient(120deg, #EBF3FB 98.84%, rgba(152, 195, 232, 0) 91.60%);
}

