// @import "blocks/header";
// @import "blocks/footer";
@import 'blocks/*.scss'

*,
*::before,
*::after {
    all: unset;
    display: revert;
    box-sizing: border-box;
}

[class*="__container"] {
    min-width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex-grow: 1;

    display: flex;
    align-items: center;
    &__container {
        display: flex;
        align-items: center;
        gap: 10px;
        flex-direction: column;
    }
}

.header,
.footer {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header {
    background-color: tomato;
}

.footer {
    background-color: burlywood;
}

a {
    text-decoration: underline;
}
