@import url("reset.css");
@import url("defaults.css");


.header__container {
    display: flex;
	flex-wrap: wrap;
	row-gap: 20px;
    justify-content: space-between;
	padding: 0px 20px;
	align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header__menu {
	cursor: pointer;
}

.header__list {
	flex: 1 1 100%;
	/* display: flex; */

	opacity: 1;
	transition: all 1s ease;

	@starting-style {
		opacity: 0;
	}
}

.header__list.hidden {
	display: none;
}

.item-row {
	display: flex;
	justify-content: center;
	gap: 20px;
}

.button-list {
	background-color: #87c232;
	padding: 5px 20px;
	border-radius: 20px;
	color: #000;
}

.header__item {
	text-align: center;
	width: 100%;
	/* border: 1px solid #000; */
}

.header__item:not(:last-child) {
	margin-bottom: 20px;
}

.main__buttons {
    display: flex;
    gap: 10px;
	margin-bottom: 20px;
}

.main__button {
    flex-grow: 1;
    flex-basis: 50%;
    padding: 10px;
    background-color: #87c232;
	color: #000;
	border-radius: 20px;
}

.main__list {
    /* display: flex;
	flex-wrap: wrap; */
	display: grid;
	grid-template-columns: repeat(4, 1fr);
    gap: 20px;

	transition: all 1s ease;

}

.main__list--cleared {
	opacity: 0;

	@starting-styles {
		opacity: 1;
	}
}


.main__item {
	background-color: #87c232;
	color: #000;
	font-size: 30px;
	border-radius: 20px;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;

	transition: all 0.5s ease;
	opacity: 1;
	rotate: 0deg;

	@starting-style {
		opacity: 0;
		rotate: 180deg;
	}
}

@media (max-width: 767.98px) {
	.main__list {
		grid-template-columns: repeat(2, 1fr);
	}
}