<footer class="footer">
    <div class="footer-top">
        <div class="footer-top__inner container">
            <div class="footer-top__text">
                <h2 class="title footer-top__title title--medium title--fw-normal">
                    Intersted to work with our team?
                </h2>
                <p class="subtitle footer-top__subtitle">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                    ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                </p>
            </div>
            <a class="btn footer-top__btn" href="#">
                Let's talk
            </a>
        </div>
    </div>
    <hr class="footer-separator">
    <div class="footer-bottom">
        <div class="footer-bottom__inner container">
            <ul class="footer-bottom__contact-list contact-list">
                <li class="contact-item footer-bottom__contact-item contact-item--address">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </li>
                <li class="contact-item footer-bottom__contact-item contact-item--phone">
                    +62-812-7313-4321
                </li>
                <li class="contact-item footer-bottom__contact-item contact-item--email">
                    hello.afrian@gmail.com
                </li>
            </ul>
        </div>
    </div>
    <hr class="footer-separator">
    <div class="footer-bottom-extended">
        <div class="footer-bottom-extended__inner container">
            <div class="footer-bottom-extended__row">
                <div class="footer-bottom-extended__column">
                    <div class="footer-bottom-extended__logo footer-logo">
                        <img class="footer-logo__icon" src="images/footer/footer__logo.svg" alt="">
                        <span class="footer-logo__title">
                            Afrianska
                        </span>
                    </div>
                    <div class="footer-bottom-extended__contact-list contact-list">
                        <li class="contact-item footer-bottom-extended__contact-item contact-item--address">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </li>
                        <li class="contact-item footer-bottom-extended__contact-item contact-item--phone">
                            +62-812-7313-4321
                        </li>
                        <li class="contact-item footer-bottom-extended__contact-item contact-item--email">
                            hello.afrian@gmail.com
                        </li>
                    </div>
                </div>
                <div class="footer-bottom-extended__column">
                    <div class="footer-bottom-extended__lists">
                        <ul class="footer-bottom-extended__list">
                            <h3 class="footer-bottom-extended__title">
                                About US
                            </h3>
                            <li class="footer-bottom-extended__item">
                                <a class="footer-bottom-extended__link" href="#">
                                    About
                                </a>
                            </li>
                            <li class="footer-bottom-extended__item">
                                <a class="footer-bottom-extended__link" href="#">
                                    What We Do
                                </a>
                            </li>
                            <li class="footer-bottom-extended__item">
                                <a class="footer-bottom-extended__link" href="#">
                                    Project
                                </a>
                            </li>
                            <li class="footer-bottom-extended__item">
                                <a class="footer-bottom-extended__link" href="#">
                                    How It Work With Us
                                </a>
                            </li>
                        </ul>
                        <ul class="footer-bottom-extended__list">
                            <h3 class="footer-bottom-extended__title">
                                Follow US
                            </h3>
                            <li class="footer-bottom-extended__item">
                                <a class="footer-bottom-extended__link" href="#">
                                    Instagram
                                </a>
                            </li>
                            <li class="footer-bottom-extended__item">
                                <a class="footer-bottom-extended__link" href="#">
                                    Facebook
                                </a>
                            </li>
                            <li class="footer-bottom-extended__item">
                                <a class="footer-bottom-extended__link" href="#">
                                    LinkedIn
                                </a>
                            </li>
                            <li class="footer-bottom-extended__item">
                                <a class="footer-bottom-extended__link" href="#">
                                    Youtube
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="subtitle footer-copyright">
        <div class="footer-copyright__inner container">
            2019 © Afrianska. All rights reserved.
        </div>
    </div>
</footer>