* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    width: 1110px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
}

.header {
    position: absolute;
    width: 100%;
    top: 28px;
    left: 0;
}

.header .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    background: url('images/hero-bg.jpg') center / cover;
}

.hero__wrap {
    max-width: 600px;
}

.hero__title {
    font-size: 60px;
}

.hero__link {
    color: #FFD723;
}