<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MNTN-Landing-Page</title>
    <link rel="stylesheet" href="styles/css/style.css">
</head>

<body>
    <div class="wrapper">
        <div class="wrapper__hero hero">
            <header class="hero__header header">
                <div class="header__container">
                    <div class="header__logo">
                        <img src="images/logo.svg" alt="logo">
                    </div>
                    <nav class="header__menu">
                        <ul class="header__list">
                            <li class="header__item">
                                <a href="" class="header__link">Equipment</a>
                            </li>
                            <li class="header__item">
                                <a href="" class="header__link">About us</a>
                            </li>
                            <li class="header__item">
                                <a href="" class="header__link">Blog</a>
                            </li>
                        </ul>
                    </nav>
                    <a href="" class="header__cart">Account</a>
                </div>
            </header>
            <div class="hero__intro intro">
                <div class="intro__uptitle">A Hiking guide</div>
                <div class="intro__title">Be prepared for the Mountains and beyond!</div>
                <div class="intro__subtitle">scroll down</div>
            </div>
            <img src="https://uploads-ssl.webflow.com/5e2d678660dc1a91f8ef1b43/5e2ef69177e46b5af0a934d3_HG.png" srcset="https://uploads-ssl.webflow.com/5e2d678660dc1a91f8ef1b43/5e2ef69177e46b5af0a934d3_HG-p-500.png 500w, https://uploads-ssl.webflow.com/5e2d678660dc1a91f8ef1b43/5e2ef69177e46b5af0a934d3_HG-p-800.png 800w, https://uploads-ssl.webflow.com/5e2d678660dc1a91f8ef1b43/5e2ef69177e46b5af0a934d3_HG-p-1080.png 1080w, https://uploads-ssl.webflow.com/5e2d678660dc1a91f8ef1b43/5e2ef69177e46b5af0a934d3_HG.png 1920w" sizes="(max-width: 1920px) 100vw, 1920px" data-w-id="8d820f2d-52d3-8c4b-4f71-33c5de2cc9e6" alt="" class="hg" style="will-change: transform; transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
            <img src="https://uploads-ssl.webflow.com/5e2d678660dc1a91f8ef1b43/5e2efe3612d935f25afe0047_MG.png" srcset="https://uploads-ssl.webflow.com/5e2d678660dc1a91f8ef1b43/5e2efe3612d935f25afe0047_MG-p-500.png 500w, https://uploads-ssl.webflow.com/5e2d678660dc1a91f8ef1b43/5e2efe3612d935f25afe0047_MG-p-800.png 800w, https://uploads-ssl.webflow.com/5e2d678660dc1a91f8ef1b43/5e2efe3612d935f25afe0047_MG-p-1080.png 1080w, https://uploads-ssl.webflow.com/5e2d678660dc1a91f8ef1b43/5e2efe3612d935f25afe0047_MG-p-1600.png 1600w, https://uploads-ssl.webflow.com/5e2d678660dc1a91f8ef1b43/5e2efe3612d935f25afe0047_MG.png 1920w" sizes="(max-width: 1920px) 100vw, 1920px" data-w-id="f095a42a-d5ae-6b01-3de8-4dbc899a5b17" alt="" class="mg" style="will-change: transform; transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
            <img src="https://uploads-ssl.webflow.com/5e2d678660dc1a91f8ef1b43/5e5153232c16e86a280a22be_VG.png" srcset="https://uploads-ssl.webflow.com/5e2d678660dc1a91f8ef1b43/5e5153232c16e86a280a22be_VG-p-500.png 500w, https://uploads-ssl.webflow.com/5e2d678660dc1a91f8ef1b43/5e5153232c16e86a280a22be_VG-p-800.png 800w, https://uploads-ssl.webflow.com/5e2d678660dc1a91f8ef1b43/5e5153232c16e86a280a22be_VG.png 1920w" sizes="(max-width: 1920px) 100vw, 1920px" data-w-id="cf7ed2c0-d483-b1c6-05ca-2bc9dfa8c5a5" alt="" class="vg" style="will-change: transform; transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
        </div>
    </div>
</body>

</html>