.header {
  min-height: 80px;
  background-color: lime;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.flex-container--width {
  display: flex;
  justify-content: space-around;
}
.flex-item--width {
  max-width: 150px;
  height: 150px;
  border: 1px solid #000;
}
.flex-container--height {
  display: flex;
  justify-content: space-around;
}
.flex-item--height {
  max-width: 150px;
  min-height: 150px;
  border: 1px solid #000;
}