@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Poppins:wght@300;400;500&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

html, body {
  height: 100%;
  line-height: 1;
}

button, input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}

/* Import fonts*/
.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: clip;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #9c9c9c;
  background-color: #0d0d11;
}

[class*=__container] {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  display: inline-block;
  text-align: center;
  padding: 16px 30px;
  background-color: #3d96f4;
  color: #fff;
  border-radius: 50px;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: 500;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  line-height: 1.43;
}
.button:hover {
  background-color: #1474db;
}
.button--dark {
  background: rgba(129, 129, 139, 0.4);
}
.button--dark:hover {
  background: rgba(129, 129, 139, 0.658);
}
@media (max-width: 991.98px) {
  .button {
    padding: 14px 20px;
  }
}

.title {
  color: #fff;
  font-size: 51.2px;
  font-weight: 500;
  line-height: 1.2;
}

.text {
  line-height: 1.5;
}

.label {
  display: inline-block;
  border: 1px solid rgba(129, 129, 139, 0.2);
  border-radius: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 11px 18px;
  -webkit-transition: all 0.3 ease 0s;
  transition: all 0.3 ease 0s;
}
.label:hover {
  border: 1px solid rgba(129, 129, 139, 0.5);
}

.main__intro {
  padding-top: 160px;
  padding-bottom: 100px;
}
@media (max-width: 991.98px) {
  .main__intro {
    padding-top: 120px;
    padding-bottom: 60px;
  }
}
@media (max-width: 767.98px) {
  .main__intro {
    padding-top: 100px;
    padding-bottom: 30px;
  }
}
@media (max-width: 330px) {
  .main__intro {
    padding-top: 140px;
  }
}
.main__clients {
  padding-top: 100px;
  margin-bottom: 70px;
}
@media (max-width: 991.98px) {
  .main__clients {
    padding-top: 70px;
    margin-bottom: 50px;
  }
}
@media (max-width: 767.98px) {
  .main__clients {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.main__services {
  padding-top: 70px;
  padding-bottom: 100px;
}
@media (max-width: 991.98px) {
  .main__services {
    padding-top: 70px;
    margin-bottom: 50px;
  }
}
@media (max-width: 767.98px) {
  .main__services {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.header {
  color: #fff;
  position: fixed;
  z-index: 7;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(13, 13, 17, 0.7);
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 35px;
     -moz-column-gap: 35px;
          column-gap: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 116px;
  padding-top: 5px;
  margin-bottom: 5px;
}
.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.header__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.header .header__button,
.header .header__cart,
.header .header__logo {
  position: relative;
  z-index: 6;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 35px;
     -moz-column-gap: 35px;
          column-gap: 35px;
  row-gap: 5px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.menu__link {
  font-size: 16px;
  line-height: 1.6;
}
.menu__link:hover {
  text-decoration: underline;
}

.cart-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
.cart-header:hover .cart-header__text {
  text-decoration: underline;
}
.cart-header__text {
  font-size: 18px;
  line-height: 1.55;
}
.cart-header__amount {
  background: rgba(129, 129, 139, 0.3);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 500;
}

.icon-menu {
  display: none;
}

@media (max-width: 991.98px) {
  .header__container,
  .menu__list {
    -webkit-column-gap: 25px;
       -moz-column-gap: 25px;
            column-gap: 25px;
  }
  .header__container {
    min-height: 70px;
  }
}
@media (max-width: 767.98px) {
  .header__container {
    min-height: 60px;
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }
  .icon-menu {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    height: 18px;
    position: relative;
    z-index: 6;
  }
  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    right: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    left: 0;
    top: -100%;
    padding: 100px 15px 30px 15px;
    overflow: auto;
    -webkit-transition: top 0.3s ease 0s;
    transition: top 0.3s ease 0s;
  }
  .menu__body::before {
    content: "";
    width: 100%;
    position: fixed;
    top: -100%;
    left: 0;
    height: 70px;
    background-color: #000;
    z-index: 6;
    -webkit-transition: top 0.3s ease 0s;
    transition: top 0.3s ease 0s;
  }
  .menu-open .menu__body,
  .menu-open .menu__body::before {
    top: 0;
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 1px);
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 1px);
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .menu__list {
    row-gap: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    text-align: center;
  }
  .menu__link {
    font-size: 32px;
  }
}
@media (max-width: 560px) {
  .header__container {
    gap: 10px;
  }
  .header__logo {
    width: 40px;
    overflow: hidden;
  }
  .cart-header__text {
    display: none;
  }
  .cart-header__amount {
    width: 45px;
    height: 45px;
    border-radius: 0;
    background: url("../../images/cart.svg") center/35px no-repeat;
    padding-top: 15px;
  }
}
@media (max-width: 320px) {
  .header__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 10px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__menu {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .menu__body {
    padding-top: 120px;
  }
}
.intro__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}
.intro__container > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
.intro__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header-intro {
  position: relative;
}
.header-intro::before {
  content: "";
  background: url("../../images/intro/decorator.svg") 0 0/100% no-repeat;
  width: 122px;
  height: 122px;
  position: absolute;
  top: -10px;
  left: -30px;
}
.header-intro__title:not(:last-child) {
  margin-bottom: 28px;
}
.header-intro__text {
  font-size: 18px;
}
.header-intro__text:not(:last-child) {
  margin-bottom: 33px;
}
.header-intro__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
  row-gap: 15px;
}

.images-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 9.615385%; /* 60/624 */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.images-intro__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}
.images-intro__item {
  overflow: hidden;
}
.images-intro__item img {
  max-width: 100%;
}
.images-intro__item--big {
  border-radius: 50%/30%;
}
.images-intro__item--small1 {
  border-radius: 50% 50% 0 50%;
}
.images-intro__item--small2 {
  border-radius: 50% 0 50% 50%;
}

@media (max-width: 991.98px) {
  .header-intro__title {
    font-size: 44px;
  }
}
@media (min-width: 767.98px) {
  .header-intro__title {
    max-width: 520px;
  }
  .header-intro__text {
    max-width: 500px;
  }
}
@media (max-width: 767.98px) {
  .intro__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-intro__title:not(:last-child), .header-intro__text:not(:last-child) {
    margin-bottom: 15px;
  }
  .header-intro__actions {
    gap: 15px;
  }
}
@media (max-width: 479.98px) {
  .header-intro__title {
    font-size: 32px;
  }
  .header-intro__actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.clients__title {
  text-transform: uppercase;
  margin-bottom: 44px;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
}
.clients__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.clients__column img {
  max-width: 100%;
}

@media (max-width: 767.98px) {
  .clients__title {
    margin-bottom: 20px;
  }
}
.services__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}
.services__container > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
.services__content {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.services__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 32px;
}

.header-services__label:not(:last-child) {
  margin-bottom: 19px;
}
.header-services__title {
  margin-bottom: 12px;
}
.header-services__text {
  margin-bottom: 33px;
}
.cards-services__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
.cards-services__column:first-child {
  padding-top: 48px;
}
.cards-services__item {
  border-radius: 30px;
  background: rgba(129, 129, 139, 0.1);
  padding: 55px 25px;
  display: block;
}
.cards-services__item:not(:last-child) {
  margin-bottom: 32px;
}

.item-services__icon:not(:last-child) {
  margin-bottom: 16px;
}
.item-services__title {
  font-size: 19px;
  font-weight: 400;
  line-height: 1.4;
}
.item-services__title:not(:last-child) {
  margin-bottom: 16px;
}
@media (max-width: 1100px) {
  .services__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 620px) {
  .services__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cards-services__column:first-child {
    padding-top: 0;
  }
}