@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap");
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
}

ul {
  list-style: none;
}

body {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  font-family: "Inter", sans-serif;
}

[class*=__container] {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.title {
  font-size: 64px;
  font-weight: 700;
  text-wrap: balance;
}
@media (max-width: 767.98px) {
  .title {
    font-size: 36px;
  }
}

.text, p {
  text-wrap: balance;
}

.button {
  padding: 15px 58px;
  border-radius: 30px;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

.header {
  min-height: 100vh;
  position: relative;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  flex-wrap: wrap;
}
@media (max-width: 575.98px) {
  .header__top {
    padding-top: 20px;
  }
}
.header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 40px;
}
.header__button {
  color: #fff;
  background-color: #000;
}
.header__content {
  padding-bottom: 50px;
}
.header__title {
  font-size: 210px;
  font-weight: 700;
  position: absolute;
  margin-top: 55px;
}
.header__title--pod {
  position: relative;
  z-index: -1;
}
.header__title--s {
  display: inline-block;
  transform: translateY(60px);
}
.header__title--m {
  display: inline-block;
  transform: translate(-30px, 275px);
}
.header__title--ax {
  display: inline-block;
  position: relative;
  transform: translate(-128px, 440px);
  z-index: -1;
}
.header__images {
  text-align: center;
}
.header__images img {
  max-width: 100%;
}
.header__images::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
  transition: background-color 0.3s ease;
}
.header__images.color--pink::before {
  background: linear-gradient(180deg, #f3d6d1 0%, rgba(235, 235, 235, 0) 100%);
}
.header__images.color--green::before {
  background: linear-gradient(180deg, #DDEAD9 0%, rgba(235, 235, 235, 0) 100%);
}
.header__images.color--skyblue::before {
  background: linear-gradient(180deg, #CADBEB 0%, rgba(235, 235, 235, 0) 100%);
}
.header__images.color--silver::before {
  background: linear-gradient(180deg, #FAFAFA 0%, rgba(235, 235, 235, 0) 100%);
}
.header__images.color--spacegray::before {
  background: linear-gradient(180deg, #B6B6B6 0%, rgba(235, 235, 235, 0) 100%);
}
.header__burger-menu {
  display: none;
}

@media (max-width: 1469px) {
  .header__title {
    position: relative;
    font-size: clamp(1rem, 10vw, 10rem);
    text-wrap: unset;
    text-align: center;
  }
  .header__title > * {
    transform: none;
  }
}
@media (max-width: 575.98px) {
  .header__burger-menu {
    display: block;
  }
  .header__navigation {
    display: none;
  }
  .menu-open .header__navigation {
    display: block;
    order: 3;
    flex: 1 1 100%;
  }
  .menu-open .header__list {
    margin-top: 20px;
    flex-direction: column;
    gap: 20px;
  }
}
.choose-color__container {
  text-align: center;
}
.choose-color__title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}
.choose-color__text {
  margin-bottom: 80px;
}
.choose-color__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}
.choose-color__button {
  border: 1px solid var(--Grey, #777);
  border-radius: 20px;
  padding: 50px 55px;
  cursor: pointer;
}
.choose-color__button--active {
  display: none;
}

@media (max-width: 767.98px) {
  .choose-color__list {
    gap: 16px;
  }
}
@media (max-width: 575.98px) {
  .choose-color__text {
    margin-bottom: 40px;
  }
}
.composition__title {
  margin-bottom: 20px;
  text-align: center;
}
.composition__text {
  text-align: center;
  max-width: 660px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.composition__row {
  max-width: 625px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.composition__row > * {
  flex-basis: 230px;
}
.composition__col-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}
@media (max-width: 767.98px) {
  .composition__text {
    margin-bottom: 20px;
  }
}
@media (max-width: 575.98px) {
  .composition__row {
    flex-direction: column;
    align-items: center;
  }
  .composition__col-text {
    flex: unset;
    justify-content: unset;
    text-align: center;
    text-wrap: wrap;
    margin-bottom: 20px;
  }
}
.case {
  background-color: #fafafa;
}
.case__container {
  text-align: center;
}
.case__title {
  margin-bottom: 20px;
}
.case__text {
  margin-bottom: 40px;
}
.case__image img {
  max-width: 100%;
}

.battery {
  background-color: #FAFAFA;
}
.battery__container {
  text-align: center;
}
.battery__title {
  margin-bottom: 20px;
}
.battery__number {
  font-size: 210px;
  margin-bottom: 40px;
}
.battery__text {
  max-width: 400px;
  margin: 0 auto;
}

@media (max-width: 767.98px) {
  .battery__number {
    font-size: 110px;
    margin-bottom: 20px;
  }
}
.audio {
  background-image: url(../../images/audio-background.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
.audio__row {
  min-height: 220vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 55vh;
  position: relative;
  z-index: 2;
}
.audio__text {
  color: #FFF;
  width: 300px;
  text-align: center;
}
.audio__text > *:not(:last-child) {
  margin-bottom: 10px;
}
.audio__button {
  color: #000;
  background-color: #FFF;
}

.footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  font-weight: 700;
}
.footer__col {
  flex-direction: column;
  margin-bottom: 80px;
}
.footer__tel, .footer__link {
  text-decoration: underline;
}
.footer__col, .footer__row, .footer__copyright, .footer__navigation {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.footer__copyright--another {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__copyright--another a {
  text-decoration: underline;
}
@media (max-width: 767.98px) {
  .footer__col {
    margin-bottom: 20px;
  }
  .footer__col, .footer__row, .footer__copyright, .footer__navigation {
    flex-direction: column;
  }
}
.main__choose-color {
  padding-top: 45px;
  padding-bottom: 180px;
}
@media (max-width: 767.98px) {
  .main__choose-color {
    padding-bottom: 60px;
  }
}
@media (max-width: 575.98px) {
  .main__choose-color {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.main__composition {
  padding-bottom: 180px;
}
@media (max-width: 767.98px) {
  .main__composition {
    padding-bottom: 60px;
  }
}
@media (max-width: 575.98px) {
  .main__composition {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.main__case {
  padding-top: 80px;
  padding-bottom: 80px;
}
@media (max-width: 767.98px) {
  .main__case {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (max-width: 575.98px) {
  .main__case {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.main__battery {
  padding-top: 80px;
  padding-bottom: 100px;
}
@media (max-width: 767.98px) {
  .main__battery {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (max-width: 575.98px) {
  .main__battery {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.footer {
  padding-top: 50px;
  padding-bottom: 40px;
}

.content-item {
  display: none;
}
.content-item--active {
  display: inline-block;
}