.footer {
    &__container {
    }

    &__top {
        margin-bottom: 180px;
    }

    &__bottom {
        border-top: 1px solid rgba(129, 129, 139, 0.20);
        text-align: center;
    }
}
.top-footer {
    &__row {
        display: flex;
        flex-wrap: wrap;
        gap: 64px;
        justify-content: space-between;
    }

    &__col {

        display: flex;
        flex-direction: column;
        gap: 32px;

        &:first-child {
            flex: 0 1 350px;
        }
    }

    &__logo {
    }

    &__text {
    }

    &__social {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    &__navigation {
        display: flex;
        gap: 64px;
    }

    &__title {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 1px;
        // margin-bottom: 30px;
    }

    &__form {
        display: flex;
        gap: 16px;
    }

    &__input {
        background: unset;
        outline: 1px solid rgba(129, 129, 139, 0.30);
        border-radius: 50px;
        padding: 15px 30px;
        &:focus {
            outline: 1px solid #3d96f4 !important;
        }
    }

    &__button {
    }
}
.navigation-top-footer {
    &__item {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    
    &__list {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
}
.social {
    &__icon {
        width: 36px;
        height: 36px;
        border: 1px solid rgba(129, 129, 139, 0.90);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            vertical-align: middle;
        }
    }

    &__link {
    }
}
.bottom-footer {
    &__copyright {
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
        line-height: 1.5;
        text-wrap: balance;
        a {
            color: #3d96f4;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

@media (max-width: 1223px) {
    
    .footer {
        &__top {
            margin-bottom: 70px;
        }
    }
    
    .top-footer {

        &__row {
            gap: 32px;
            // flex-direction: column;
            align-items: center;
            justify-content: center;
            column-gap: 50px !important;
        }

        &__col {

            &:nth-child(1) {
                // display: block;
                flex-basis: auto;
                
            }

            &:nth-child(2) {
                // order: 3;
                // display: flex;
            }

            &:nth-child(3) {
                align-items: center;
            }
        }
    }
}

@media (max-width: 840px) {
    .top-footer {

        &__row {
            flex-direction: column;
            flex-wrap: wrap;
            // gap: unset;
        }

        &__col {
            flex: 0 1 auto;
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
        }

    }
}