@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
}

[class*=__container] {
  max-width: 1170px;
  margin: 0 auto;
}

@media (max-width: 1199.98px) {
  [class*=__container] {
    max-width: 970px;
  }
}
@media (max-width: 990.98px) {
  [class*=__container] {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  [class*=__container] {
    max-width: none;
    padding: 0 15px;
  }
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}
.header__container {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 15px;
  align-items: center;
  justify-content: space-between;
  min-height: 103px;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (max-width: 767.98px) {
  .header__container {
    min-height: 0;
    flex-direction: column;
  }
}
.header__logo {
  font-size: 23px;
  font-weight: 800;
  color: inherit;
}
.header .menu__list {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 46px;
       column-gap: 46px;
  row-gap: 10px;
}
.header .menu__link {
  font-size: 13px;
  font-weight: 700;
  color: inherit;
}
.header .menu__link:hover {
  text-decoration: underline;
}

@media (max-width: 767.98px) {
  .header__container {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .menu__list {
    justify-content: center;
  }
  .menu__link {
    font-size: 18px;
  }
}
.main-block {
  padding-bottom: 110px;
}
.main-block__container {
  padding-top: 183px;
  position: relative;
}
.main-block__container::after {
  background-color: #BDCCFF;
  content: "";
  position: absolute;
  width: 200%;
  top: 0;
  left: 68%;
  height: 100%;
}
.main-block__body {
  margin-bottom: 14px;
}
.body-main-block {
  position: relative;
  display: flex;
  align-items: flex-start;
}
.body-main-block__content {
  flex: 0 1 50%;
}
.body-main-block__slider {
  flex: 0 1 50%;
  min-height: 0;
}
.body-main-block__arrows {
  position: absolute;
  bottom: -52px;
  right: 0;
  display: flex;
  gap: 40px;
  align-items: center;
}
.body-main-block__arrow.swiper-button-prev, .body-main-block__arrow.swiper-button-next {
  position: static;
  height: 20px;
  width: 11px;
  background: url("../../images/icons/arrow.svg") 0 0/100% no-repeat;
}
.body-main-block__arrow::after {
  display: none;
}
.body-main-block__arrow.swiper-button-prev {
  transform: rotate(-180deg);
}

.content-main-block {
  padding-top: 40px;
  position: relative;
  z-index: 2;
}
.content-main-block__body {
  padding-right: 80px;
}
.content-main-block__sub-title {
  font-weight: 700;
  color: #F90;
  font-size: 22px;
  line-height: 29px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.content-main-block__title {
  font-weight: 800;
  font-size: 54px;
  color: #000;
  line-height: 73px;
  margin-bottom: 23px;
}
.content-main-block__text {
  color: var(--text, #31353B);
  font-size: 17px;
  line-height: 23px;
  letter-spacing: 0.01em;
  margin-bottom: 45px;
}
.slider-main-block__slide {
  position: relative;
  padding-bottom: 95%;
}
.slider-main-block__slide img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form-main-block {
  position: relative;
  z-index: 5;
  display: flex;
  margin-right: -188px;
  min-height: 86px;
  box-shadow: 0px 1.8518518209px 3.1481480598px 0px rgba(0, 0, 0, 0.01), 0px 8.1481485367px 6.5185184479px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.5185203552px 25.4814815521px 0px rgba(0, 0, 0, 0.02), 0px 64.8148117065px 46.851852417px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.03);
}
.form-main-block__input {
  background: #FFF url("../../images/main/home.svg") 33px 50% no-repeat;
  height: 86px;
  border: 1px solid #DADADA;
  padding: 0 0 0 74px;
  background-color: transparent;
  width: 100%;
  font-size: 20px;
  flex: 1 1 auto;
}
.form-main-block__input::-moz-placeholder {
  color: rgba(43, 53, 59, 0.3);
}
.form-main-block__input::placeholder {
  color: rgba(43, 53, 59, 0.3);
}
.form-main-block__button {
  height: 86px;
  cursor: pointer;
  width: 188px;
  flex: 0 0 188px;
  font-weight: 600;
  color: #fff;
  font-size: 17px;
  line-height: 23px;
  letter-spacing: 0.01em;
  padding: 5px 15px;
  background: #F85A47;
}

.partners-main-block {
  max-width: 65%;
}
.partners-main-block__label {
  color: var(--text, #31353B);
  font-size: 17px;
  letter-spacing: 0.17px;
  margin-bottom: 25px;
}
.partners-main-block__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}
.partners-main-block__item img {
  max-width: 100%;
}

@media (max-width: 1199.98px) {
  .main-block__container {
    padding-top: 100px;
    padding-bottom: 30px;
  }
  .main-block__body {
    margin-bottom: 44px;
  }
  .content-main-block__body {
    padding-right: 0;
  }
  .body-main-block {
    display: block;
  }
  .body-main-block__content {
    margin-bottom: 40px;
  }
  .form-main-block {
    margin-right: 0;
  }
  .partners-main-block {
    position: relative;
    z-index: 1;
    max-width: none;
  }
  .form-main-block {
    display: block;
  }
  .form-main-block__button {
    width: 100%;
  }
}
@media (max-width: 767.98px) {
  .partners-main-block__items {
    justify-content: center;
  }
  .content-main-block__title {
    font-size: 30px;
    line-height: 1.2;
  }
}
@media (max-width: 479.98px) {
  .form-main-block {
    background: #fff;
  }
  .form-main-block__input {
    background: #fff;
    padding: 0 15px;
  }
}
body {
  font-family: Manrope;
  color: #333333;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1 1 auto;
}