<section class="intro">
    <!-- @import "../_header.html" -->
    <section class="description">
        <div class="description__inner container">
            <div class="description__text">
                <h2 class="description__title">
                    Contact Us
                </h2>
                <p class="subtitle description__subtitle">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore
                    et dolore magna aliqua.
                </p>
            </div>
        </div>
    </section>
</section>