:root {
    --header-height: 80px;
}  

header {
    width: 100%;
    border-top: 5px solid rgba(0, 255, 255, 0.5);
    border-bottom: 5px solid rgba(255, 255, 0, 0.5);
    background: url(../images/pinephone-ubports-top.jpg) no-repeat center;
}

header, nav ul {
    height: var(--header-height);
}

#headerInside {
    display: flex;
    justify-content: space-between;
}

#headerLeft {
    display: flex;
    align-items: center;
}

#logo {
    width: 60px;
    height: 100%;
    margin-right: 15px;
    background: url(../images/pinephone.svg) no-repeat;
    background-size: contain;
}

#companyName {
    font-family: "Huntsman", sans-serif;
    font-size: 30px;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    list-style: none;
    border-left: 1px solid blueviolet;
    border-right: 1px solid blueviolet;
}

nav ul li a {
    width: 100%;
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    color: #000;
    text-decoration: none;
}

nav ul li:last-child {
    border-left: none;
}
nav li:hover {
    background: #5e5e5e;
}