@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

$color1: #1F3F68;
$color2: #316099;

.title {
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
}
.text {
    font-size: 16px;
    line-height: 26px;
    color: $color1;
    letter-spacing: 0.05em;
    opacity: 0.6;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}
.header {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-top: 42px;
}
.button {
    display: inline-block;
    text-decoration: none;
    background-color: #5A98D0;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}
.top {

    height: 768px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);

    &__container {
        display: flex;
        flex-direction: column;
        height: 100%;
        background-image: url(/images/top__background.svg);
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: right center;
    }

    &__info {
        padding-top: 115px;
        flex-grow: 1;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__title {
        max-width: 510px;
        color: $color1;
        font-weight: 300;
        font-size: 64px;
        line-height: 74px;
        letter-spacing: 0.04em;
        margin-bottom: 32px;
        text-align: unset;
    }

    &__text {
        max-width: 425px;
    }

    &__button {
        padding: 15px 50px;
        box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
        border-radius: 10px;
        margin-top: 71px;
        display: inline-block;
        flex-grow: 0;
        flex-shrink: 1;
    }
}


.services {

    padding: 64px 0;

    &__title {
        margin-bottom: 64px;
    }
}
.card-row {
    display: flex;
    justify-content: space-between;
    
}
.card {

    &__image {
        align-self: center;
        margin-bottom: 51px;
    }

    &__text {
    }

    &__link {
        margin-top: 30px;
        font-size: 14px;
        line-height: 30px;
        letter-spacing: 0.05em;
        color: #5A98D0;
        text-decoration: none;
    }
}
.card-col {
    max-width: 359px;
    padding: 44px 32px;
    box-sizing: border-box;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    background-color: #fff;

    display: flex;
    flex-direction: column;
}
.title-mini {
    font-size: 20px;
    color: $color1;
    letter-spacing: 0.05em;
    margin-bottom: 14px;
}
.project {

    &__title {

    }

    &__text {
        width: 75%;
        margin: 0 auto;
        text-align: center;
        color: #222222;
        margin-top: 32px;
        margin-bottom: 64px;
        opacity: unset;
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 32px;
    }

    &__col {
        position: relative;
        flex-grow: 1;
    }

    &__image {
        width: 100%;
    }

    &__subtitle {
        position: absolute;
    }

    &__subtitle--1 {
        top: 64px;
        right: 64px;
    }

    &__subtitle--2, &__subtitle--3 {
        top: 32px;
        left: 32px;
    }

    &__col--1 {
        flex-basis: 100%;
    }

    &__col--2, &__col--3 {
        flex: 1 1 auto;
    }

    // &__col--2 {
    // }

    // &__col--3 {
    // }

    // &__subtitle--2 {
    // }

    // &__subtitle--3 {
    // }
}
.subtitle {
    font-size: 32px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.footer {

    &__inner {
        margin-top: 112px;
        background-color: $color2;
    }

    &__footer-top {
        padding-top: 91px;
        padding-bottom: 96px;
    }

    &__footer-bottom {
        padding-top: 64px;
        padding-bottom: 64px;
    }

    &__separator {
        opacity: 0.4;
    }

    &__text {
        color: #fff;
    }
}
.footer-top {

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__info {
        max-width: 495px;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    &__title {
        max-width: 340px;
        text-align: left;
        color: #fff;
    }

    &__button {
        text-align: center;
        padding: 15px 80px;
    }

}

.footer-bottom {

    &__inner {
        color: #fff;

        display: flex;
        flex-direction: column;
        gap: 64px;
    }

    &__contacts-list {
        display: flex;
        list-style-type: none;
        gap: 45px;
    }

    &__contacts-item {
        color: #fff;
        opacity: 1;
        flex-grow: 1;
        flex-basis: 33.3333%;
        display: flex;
        gap: 16px;
    }

    &__contacts-item--address::before {
        content: "A.";
    }

    &__contacts-item--phone::before {
        content: "T.";
    }

    &__contacts-item--email::before {
        content: "E.";
    }

    &__copyright {
    }
}
@import 'media-queries';