@media screen and (max-width: 1250px) {
	.header {
		.header__inner {
			justify-content: space-around;
		}
	}
}

@media screen and (max-width: 955px) {
	.header {
	position: relative;
	z-index: 0;
	&::before {
			content: "";
			background: url(../img/image.jpg) 0 0/100% 100% no-repeat;
			opacity: 0.1;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			position: absolute;
			z-index: -1;
	}

		.header__inner {
			.header__image {
				display: none;
			}
		}
	}

	.intro {
		.intro__title {
			text-align: center;
		}
	}
}