@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

[class*="__container"] {
    max-width: 1180px;
    padding: 0 10px;
    margin: 0 auto;
}

$backgroundColor: #060638;
$accentColor: #5c94e8;

body {
    background-color: $backgroundColor;
    color: $accentColor;
    font-family: 'Roboto', sans-serif;
}

button {
    background: unset;
    color: inherit;
    border: none;
    cursor: pointer;
}