@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700;900&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}

[class*=__container] {
  max-width: 1161px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  color: #111238;
  font-family: "Fira Sans", sans-serif;
}

.button {
  background-color: #1a75e8;
  color: #fff;
  padding: 15px 30px;
  border-radius: 5px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__list {
  display: flex;
  gap: 20px;
}
.header__link:hover, .header__sign-in:hover {
  color: #1a75e8;
}
.header__authorize {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header__menu-burger {
  display: none;
}

.hero {
  background: #f2f3f6;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.hero__header {
  padding-top: 50px;
}
.hero__body {
  flex-grow: 1;
  align-items: center;
  display: flex;
}
.hero__body > * {
  display: flex;
  justify-content: space-between;
}
.hero__content {
  padding-top: 43px;
  flex-basis: 41.666667%; /* 5/12 */
}
.hero__title {
  color: #111238;
  font-size: 44px;
  font-weight: 900;
  margin-bottom: 15px;
}
.hero__text {
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 1.4;
}
.hero__search {
  display: flex;
  border-radius: 5px;
  background-color: #fff;
  padding: 10px;
  max-width: 450px;
  margin-bottom: 25px;
  -moz-column-gap: 8px;
       column-gap: 8px;
  border: 1px solid rgba(209, 209, 209, 0.1);
  box-shadow: 0px 4px 25px 0px rgba(15, 17, 56, 0.1);
}
.hero__input {
  flex-grow: 1;
  padding-left: 20px;
}
.hero__input:focus {
  border-radius: 5px;
}
.hero__examples {
  color: #b2b2b2;
  font-size: 14px;
  display: flex;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.hero__image {
  flex-basis: 50%; /* 6/12 */
}
.hero__image img {
  max-width: 100%;
}

.examples__list {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.examples__item {
  padding: 5px 10px;
  border: 1px solid #b2b2b2;
  border-radius: 5px;
}