:root {
    --background: #121212;
    --surface: #1E1E1E;
    --primary: #BB86FC;
    --secondary: #03DAC6;
    --accent: #CF6679;
    --text-primary: #FFFFFF;
    --text-secondary: #B3B3B3;
}

body {
    background-color: var(--background);
    color: var(--text-primary);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



.box {
    width: 15rem;
    height: 15rem;
    border: 5px solid var(--primary);
}

.element-to-drag {


    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: var(--accent);
}
