[data-index="0"] {
    .card {
        &--big {
            &:nth-child(2) {
                background-image: url('./../../images/selfies/1.jpg');
                background-position: 70%;
            }

            &:nth-child(4) {
                background-image: url('./../../images/selfies/2.jpg');
                background-position: 70%;
            }

            &:nth-child(6) {
                background-image: url('./../../images/selfies/10.jpg');
                background-position: 70%;
            }

            &:nth-child(8) {
                background-image: url('./../../images/selfies/11.jpg');
                background-position: 100%;
            }
        }

        &--little {
            &:nth-child(1) {
                background-image: url('./../../images/selfies/7.jpg');
            }

            &:nth-child(3) {
                background-image: url('./../../images/selfies/8.jpg');
            }

            &:nth-child(5) {
                background-image: url('./../../images/selfies/5.jpg');
            }

            &:nth-child(7) {
                background-image: url('./../../images/selfies/3.jpg');
                background-position: 50%;
            }
        }
    }
}

[data-index="1"] {
    .card {
        &--big {
            &:nth-child(2) {
                background-image: url('./../../images/nature/6.jpg');
                background-position: 70%;
            }

            &:nth-child(4) {
                background-image: url('./../../images/nature/2.jpg');
                background-position: 70%;
            }

            &:nth-child(6) {
                background-image: url('./../../images/nature/8.jpg');
            }

            &:nth-child(8) {
                background-image: url('./../../images/nature/3.jpg');
                background-position: 70%;
            }
        }

        &--little {
            &:nth-child(1) {
                background-image: url('./../../images/nature/11.jpg');
            }

            &:nth-child(3) {
                background-image: url('./../../images/nature/12.jpg');
                background-position: 50%;
            }

            &:nth-child(5) {
                background-image: url('./../../images/nature/10.jpg');
            }

            &:nth-child(7) {
                background-image: url('./../../images/nature/7.jpg');
                background-position: 50%;
            }
        }
    }
}

[data-index="2"] {
    .card {
        &--big {
            &:nth-child(2) {
                background-image: url('./../../images/animals/11.jpg');
                // background-position: 70%;
            }

            &:nth-child(4) {
                background-image: url('./../../images/animals/6.jpg');
                background-position: 70%;
            }

            &:nth-child(6) {
                background-image: url('./../../images/animals/5.jpg');
                background-position: 50%;
            }

            &:nth-child(8) {
                background-image: url('./../../images/animals/1.jpg');

            }
        }

        &--little {
            &:nth-child(1) {
                background-image: url('./../../images/animals/13.jpg');
                background-position: 50%;
            }

            &:nth-child(3) {
                background-image: url('./../../images/animals/14.jpg');
                background-position: 45%;
            }

            &:nth-child(5) {
                background-image: url('./../../images/animals/2.jpg');
            }

            &:nth-child(7) {
                background-image: url('./../../images/animals/7.jpg');
                background-position: 50%;
            }
        }
    }
}

[data-index="3"] {
    .card {
        &--big {
            &:nth-child(2) {
                background-image: url('./../../images/tech/4.jpg');
            }

            &:nth-child(4) {
                background-image: url('./../../images/tech/1.jpg');
                background-position: 60%;
            }

            &:nth-child(6) {
                background-image: url('./../../images/tech/3.jpg');
                background-position: 50%;
            }

            &:nth-child(8) {
                background-image: url('./../../images/tech/9.jpg');
            }
        }

        &--little {
            &:nth-child(1) {
                background-image: url('./../../images/tech/10.jpg');
                background-position: 50%;
            }

            &:nth-child(3) {
                background-image: url('./../../images/tech/11.jpg');
                background-position: 5 5%;
            }

            &:nth-child(5) {
                background-image: url('./../../images/tech/7.jpg');
                background-position: 30%;
            }

            &:nth-child(7) {
                background-image: url('./../../images/tech/6.jpg');
                background-position: 50%;
            }
        }
    }
}
