*,
*::before,
*::after {
  all: unset;
  display: revert;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.block {
  height: 5%;
  flex: 0 1 5%;
  transition: all 20ms ease-in-out;
}