.card {
    // max-width: 304px;

    &__image {
        border-radius: 12px;
        overflow: hidden;
        margin-bottom: 16px;


        img {
            width: 100%;
        }
    }

    &__desc {
    }
}
