.discover {
    padding: 60px 0;

    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 80px;
        align-items: center;
    }

    &__desc {
    }

    &__title {
        margin-bottom: 24px;
    }

    &__text {
        margin-bottom: 40px;
    }

    &__form {
    }

    &__picture {
        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;
        justify-self: center;
        width: fit-content;
    }

    &__hint {
        position: absolute;
        z-index: 1;
        top: 95px;
        left: 40px;
        width: 100%;
    }

    &__picture-img {
    }

    &__scroll-down {
        position: absolute;
        bottom: 20px;
        right: 15px;
    }
}

@include mediaLaptop {
    .discover {
        &__hint {
            top: 40px;
            left: 20px;
        }

        &__scroll-down {
            bottom: 0;
            right: 0;
        }
    }
}

@include mediaTablet {
    .discover {
        &__grid {
            grid-template-columns: 1fr;
            gap: 40px;
        }

        &__picture {
            grid-row: -1 / 1;
        }
    }
}

@include mediaMobile {
    .discover {
        padding: 30px 0;

        .form {
            grid-template-columns: 1fr;

            &__separator {
                display: none;
            }

            &__button {
                width: 100%;
                display: flex;
                justify-content: center;
            }
        }

        &__hint {
            top: 30px;
        }

        &__scroll-down {
            width: 30%;
        }
    }
}

@include mediaMobileXS {
    .discover {
        &__hint {
            display: none;
        }
    }
}
