.form {
    display: grid;
    grid-template-columns: 1fr auto 1fr auto;
    padding: 12px 16px;
    align-items: center;
    gap: 16px;

    border-radius: 16px;
    border: 1px solid var(--text-muted);

    &__label {
        padding-left: 36px;

        display: grid;
        gap: 8px;

        background-position: 0 0;
        background-size: auto;
        background-repeat: no-repeat;

        span {
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }

        &--location {
            background-image: url("./../img/icons/map.svg");
        }

        &--date {
            background-image: url("./../img/icons/calendar.svg");
        }
    }

    &__input {
        font-size: 14px;
        font-style: normal;
        font-weight: 450;
        line-height: normal;

        &::placeholder {
            color: var(--text-muted);
        }
    }

    &__button {
        background-image: url(./../../img/icons/search.svg);
        background-repeat: no-repeat;
        background-position: center;
        height: 48px;
        width: 48px;
        background-color: var(--accent);
        border-radius: 10px;
    }

    &__separator {
        width: 1px;
        height: 24px;
        background-color: var(--text-muted);
    }
}
