.header {

    background-color: tomato;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
    }

    &__navigation {
    }

    &__list {
        list-style: none;
        display: flex;
        gap: 20px;
    }

    &__item {

    }

    &__link {
        display: inline-block;
        padding-top: 20px;
        padding-bottom: 20px;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}
