.explore {
    padding-bottom: 112px;

    &__row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 80px;
    }

    &__media {
        position: relative;
        background-image: url(./../../img/explore/img.jpg);
        max-width: 560px;
        height: 560px;
    }

    &__image {
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__title {
        color: var(--text-color);
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%; /* 48px */
        text-transform: capitalize;
        margin-bottom: 24px;
    }

    &__text {
        color: var(--text-muted);
        font-size: 18px;
        font-style: normal;
        font-weight: 450;
        line-height: 150%; /* 27px */
        margin-bottom: 40px;
    }

    &__link {
        color: #fff;
        font-size: 16px;
        font-style: normal;
        font-weight: 450;
        line-height: 150%; /* 24px */
        padding: 12px 24px;
        max-width: 150px;
        border-radius: 8px;
        background: #35aff4;
    }
}

.hint-1 {
    position: absolute;
    top: 43px;
    right: -40px;
    display: flex;
    // align-items: center;
    gap: 16px;
    padding: 12px;
    width: 300px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 4px 34px 0px rgba(50, 75, 104, 0.17);

    line-height: 150%; /* 27px */
    font-style: normal;

    &__image {
    }

    &__col {
        flex-grow: 1;
    }

    &__place {
        color: var(--text-color);
        font-size: 18px;
        font-weight: 500;
    }

    &__price {
        color: var(--text-muted);
        font-size: 16px;
        font-weight: 450;
    }

    &__value {
        color: var(--text-color);
        font-size: 16px;
        font-weight: 500;
    }

    &__rating {
        color: var(--text-color);
        font-size: 14px;
        font-weight: 500;
        display: flex;
        gap: 4px;
        img {
            align-self: flex-start;
        }
    }

    &__currency {
        color: var(--accent);
        font-size: 16px;
    }
}
.hint-2 {
    position: absolute;
    bottom: 127px;
    left: -32px;
    background-color: #fff;
    padding: 12px;
    border-radius: 82px;
    display: flex;
    align-items: center;
    gap: 16px;
    width: 240px;
    box-shadow: 0px 4px 34px 0px rgba(50, 75, 104, 0.17);
    &__avatar {
        width: 47px;
        height: 47px;
        border-radius: 47px;
    }

    &__col {
        line-height: 150%; /* 27px */
        font-style: normal;
    }

    &__name {
        color: var(--text-color);
        font-size: 18px;
        font-weight: 500;
    }

    &__description {
        color: var(--text-muted);
        font-size: 14px;
        font-weight: 450;
    }
}

@include mediaTablet {
    .explore {
        &__row {
            grid-template-columns: 1fr;
            max-width: 800px;
            margin: 0 auto;
        }

        &__media {
            // width: 100%;
            // margin: 0 auto;
        }

        .hint-1 {
            right: 142px;
        }

        .hint-2 {
            left: 128px;
        }

        &__info {
            grid-row: 1 / -1;
        }
    }
}
