.testimonials-horizontal {
	display: none;

	.swiper {
		// width: 100%;
		// height: 500px;
		padding: 30px 0;
	}
}

.testimonials {
	&__grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		justify-items: center;
		gap: 32px;
		overflow: hidden;
	}

	&__col {
		width: 100%;

		display: grid;
		gap: 32px;

		// animation: slideUp 20s linear infinite;

		&:nth-child(2) {
			// padding-top: 100px;
		}

		&:nth-child(3) {
			// padding-top: 50px;
		}
	}

	&__swiper {
		height: 900px;

		.swiper-slide {
			padding: 0 10px 32px;
			height: 357px !important;
			width: 376px;
			& > * {
				height: 100%;
			}
		}
	}
}

@keyframes slideUp {
	0% {
		transform: translateY(0%);
	}
	95% {
		transform: translateY(-50%);
		opacity: 1;
		filter: blur(0px);
	}
	97% {
		transform: translateY(-50%);
		opacity: 0;
		filter: blur(10px);
	}
	98% {
		transform: translateY(-50%);
		opacity: 0;
		filter: blur(10px);
	}
	100% {
		transform: translateY(0);
		opacity: 1;
		filter: blur(0px);
	}
}

.smooth-transition {
	--webkit-transition-timing-function: linear !important;
	--o-transition-timing-function: linear !important;
	transition-timing-function: linear !important;
}

@include mediaLaptop {
	.swiper-slide {
		height: 400px !important;
	}

	.testimonials {
		&__swiper {
			height: 600px;
		}
	}
}

@include mediaTablet {
	.testimonials {
		&__grid {
			display: none;
		}
	}

	.testimonials-horizontal {
		display: block;
	}
}
