.header {
  padding-top: 38px;
  padding-bottom: 150px;

  &__navigation .navigation {

    &__logo {
      grid-column: span 4;
      padding-right: 32px;
    }
  
    &__list {
      grid-column: 5/-1;
    }
  
  }

}