@use 'variables';
@import 'navigation';
@import 'header';
@import 'articles/articles';
@import 'footer';

* {
  all: unset;
  display: revert;
}

body {
  font-family: variables.$font-family, sans-serif;
  background-color: #EBEBEB;
  font-size: 22px;
  font-weight: 400;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, variables.$grid-column-width);
  gap: variables.$grid-column-gap;
}

.container {
  max-width: 1435px;
  margin: 0 auto;
}