@import url("https://fonts.googleapis.com/css2?family=Chewy&display=swap");
[data-index="0"] .card--big:nth-child(2) {
  background-image: url("./../../images/selfies/1.jpg");
  background-position: 70%;
}
[data-index="0"] .card--big:nth-child(4) {
  background-image: url("./../../images/selfies/2.jpg");
  background-position: 70%;
}
[data-index="0"] .card--big:nth-child(6) {
  background-image: url("./../../images/selfies/10.jpg");
  background-position: 70%;
}
[data-index="0"] .card--big:nth-child(8) {
  background-image: url("./../../images/selfies/11.jpg");
  background-position: 100%;
}
[data-index="0"] .card--little:nth-child(1) {
  background-image: url("./../../images/selfies/7.jpg");
}
[data-index="0"] .card--little:nth-child(3) {
  background-image: url("./../../images/selfies/8.jpg");
}
[data-index="0"] .card--little:nth-child(5) {
  background-image: url("./../../images/selfies/5.jpg");
}
[data-index="0"] .card--little:nth-child(7) {
  background-image: url("./../../images/selfies/3.jpg");
  background-position: 50%;
}

[data-index="1"] .card--big:nth-child(2) {
  background-image: url("./../../images/nature/6.jpg");
  background-position: 70%;
}
[data-index="1"] .card--big:nth-child(4) {
  background-image: url("./../../images/nature/2.jpg");
  background-position: 70%;
}
[data-index="1"] .card--big:nth-child(6) {
  background-image: url("./../../images/nature/8.jpg");
}
[data-index="1"] .card--big:nth-child(8) {
  background-image: url("./../../images/nature/3.jpg");
  background-position: 70%;
}
[data-index="1"] .card--little:nth-child(1) {
  background-image: url("./../../images/nature/11.jpg");
}
[data-index="1"] .card--little:nth-child(3) {
  background-image: url("./../../images/nature/12.jpg");
  background-position: 50%;
}
[data-index="1"] .card--little:nth-child(5) {
  background-image: url("./../../images/nature/10.jpg");
}
[data-index="1"] .card--little:nth-child(7) {
  background-image: url("./../../images/nature/7.jpg");
  background-position: 50%;
}

[data-index="2"] .card--big:nth-child(2) {
  background-image: url("./../../images/animals/11.jpg");
}
[data-index="2"] .card--big:nth-child(4) {
  background-image: url("./../../images/animals/6.jpg");
  background-position: 70%;
}
[data-index="2"] .card--big:nth-child(6) {
  background-image: url("./../../images/animals/5.jpg");
  background-position: 50%;
}
[data-index="2"] .card--big:nth-child(8) {
  background-image: url("./../../images/animals/1.jpg");
}
[data-index="2"] .card--little:nth-child(1) {
  background-image: url("./../../images/animals/13.jpg");
  background-position: 50%;
}
[data-index="2"] .card--little:nth-child(3) {
  background-image: url("./../../images/animals/14.jpg");
  background-position: 45%;
}
[data-index="2"] .card--little:nth-child(5) {
  background-image: url("./../../images/animals/2.jpg");
}
[data-index="2"] .card--little:nth-child(7) {
  background-image: url("./../../images/animals/7.jpg");
  background-position: 50%;
}

[data-index="3"] .card--big:nth-child(2) {
  background-image: url("./../../images/tech/4.jpg");
}
[data-index="3"] .card--big:nth-child(4) {
  background-image: url("./../../images/tech/1.jpg");
  background-position: 60%;
}
[data-index="3"] .card--big:nth-child(6) {
  background-image: url("./../../images/tech/3.jpg");
  background-position: 50%;
}
[data-index="3"] .card--big:nth-child(8) {
  background-image: url("./../../images/tech/9.jpg");
}
[data-index="3"] .card--little:nth-child(1) {
  background-image: url("./../../images/tech/10.jpg");
  background-position: 50%;
}
[data-index="3"] .card--little:nth-child(3) {
  background-image: url("./../../images/tech/11.jpg");
  background-position: 5 5%;
}
[data-index="3"] .card--little:nth-child(5) {
  background-image: url("./../../images/tech/7.jpg");
  background-position: 30%;
}
[data-index="3"] .card--little:nth-child(7) {
  background-image: url("./../../images/tech/6.jpg");
  background-position: 50%;
}

*,
*::before,
*::after {
  all: unset;
  display: revert;
  -webkit-tap-highlight-color: transparent;
}

body,
html {
  overflow-y: hidden;
  position: relative;
}

body {
  background-color: #000;
  color: #fff;
  height: 100vh;
  display: grid;
  place-items: center;
  font-family: "Chewy", system-ui;
}

.hint {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 20px;
}

.card-swiper,
.card-container,
.card-group,
.card {
  aspect-ratio: 5/7;
}

.card-swiper,
.card-container,
.card-group,
.card--big {
  width: 30vmin;
}

.card-group {
  position: absolute;
  transition: transform 400ms ease;
}

.card-title {
  position: absolute;
  text-align: center;
  width: 100%;
  font-size: 8vmin;
  transform: translateY(-150%);
}

.enlarged {
  transform: scale(1.05) !important;
  z-index: 10 !important;
  position: relative;
}
.enlarged--little {
  width: 30vmin !important;
  border-radius: 1vmin !important;
  top: 0 !important;
  left: 0 !important;
}

.hidden {
  filter: blur(1vmin) brightness(0.5) !important;
  z-index: 5 !important;
}

.card {
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  transition: transform 500ms cubic-bezier(0.05, 0.43, 0.25, 0.95);
  background-size: cover;
}
.card--big {
  width: 30vmin;
  border-radius: 1vmin;
}
.card--big:nth-child(4) {
  transform: rotate(2deg);
}
.card--big:nth-child(6) {
  transform: translateX(-6%) rotate(-3deg);
}
.card--big:nth-child(8) {
  transform: translate(10%, 3%) rotate(5deg);
}
.card--little {
  width: 12vmin;
  border-radius: 2vmin;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.active.card-group:hover .card--big:nth-child(2) {
  transform: translate(-75%, 16%) rotate(-24deg);
}
.active.card-group:hover .card--big:nth-child(4) {
  transform: translate(-25%, 8%) rotate(-8deg);
}
.active.card-group:hover .card--big:nth-child(6) {
  transform: translate(25%, 8%) rotate(8deg);
}
.active.card-group:hover .card--big:nth-child(8) {
  transform: translate(75%, 16%) rotate(24deg);
}
.active.card-group:hover .card--little:nth-child(1) {
  transform: translate(200%, -160%) rotate(-15deg);
}
.active.card-group:hover .card--little:nth-child(3) {
  transform: translate(160%, 170%) rotate(15deg);
}
.active.card-group:hover .card--little:nth-child(5) {
  transform: translate(-200%, -170%) rotate(15deg);
}
.active.card-group:hover .card--little:nth-child(7) {
  transform: translate(-280%, 140%) rotate(-15deg);
}

.card-group[data-status=unknown] {
  transform: scale(0);
}

.card-group[data-status=active] {
  transition-delay: 300ms;
}

.card-group[data-status=before] {
  transform: translateX(-50%) scale(0);
}

.card-group[data-status=after] {
  transform: translateX(50%) scale(0);
}

.card-group[data-status=becoming-active-from-before] {
  transform: translateX(-50%) scale(0) !important;
  transition: none;
}

.card-group[data-status=becoming-active-from-after] {
  transform: translateX(50%) scale(0);
  transition: none;
}

.card-buttons {
  margin-top: 8vmin;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.button {
  display: grid;
  place-items: center;
  width: 7vmin;
  height: 7vmin;
  border: 0.4vmin solid rgb(200, 200, 200);
  border-radius: 100%;
  color: #fff;
  font-size: 2.5vmin;
  background-color: transparent;
  cursor: pointer;
}
.button--hate:active {
  background-color: red;
}
.button--love {
  color: rgb(33, 150, 243);
  border-color: rgb(33, 150, 243);
}
.button--love:active {
  color: #fff;
  border-color: #fff;
  background-color: rgb(33, 150, 243);
}