@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
.header__inner {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intro__inner {
  padding: 80px 0 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.intro__text-btn {
  padding-top: 20px;
}
.intro .intro__text {
  color: #1F3F68;
}
.intro__title {
  margin-bottom: 32px;
}
.intro__subtitle {
  max-width: 425px;
  margin-bottom: 70px;
}
.intro__btn {
  padding: 15px 50px;
  background: #5A98D0;
  -webkit-box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
          box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  border-radius: 10px;
  color: #ffffff;
}

.services__inner {
  padding: 64px 0;
}
.services__title {
  color: #000;
  text-align: center;
  margin-bottom: 64px;
}
.services__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 32px;
}

.card__unit {
  background: #FFFFFF;
  -webkit-box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
          box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  padding: 32px 32px 45px;
  color: #1F3F68;
}
.card__image {
  text-align: center;
  margin-bottom: 50px;
}
.card__image img {
  max-width: 170px;
  max-height: 125px;
}
.card__title {
  margin-bottom: 14px;
}
.card__subtitle {
  margin-bottom: 30px;
}
.card__link {
  color: #5A98D0;
}

.link__text {
  margin-right: 25px;
}

.title--fw-light {
  font-weight: 300;
}

.title--fw-normal {
  font-weight: 400;
}

.title--big {
  font-size: 64px;
  line-height: 74px;
}

.title--medium {
  font-size: 36px;
  line-height: 46px;
}

.title--small {
  font-size: 20px;
  line-height: 30px;
}

.subtitle {
  line-height: 26px;
  opacity: 0.6;
}

.footer {
  background: #316099;
}
.footer__top {
  padding-top: 90px;
}
.footer__title {
  font-weight: 400;
}
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  letter-spacing: 0.05em;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header-intro {
  background: linear-gradient(120deg, #EBF3FB 98.84%, rgba(152, 195, 232, 0) 91.6%);
}