.case {

    background-color: #FAFAFA;
    padding-top: 80px;
    padding-bottom: 80px;

    &__container {
        text-align: center;
    }

    &__title {
        margin-bottom: 20px;
    }

    &__text {
        margin-bottom: 40px;
    }

    &__image {
    }
}
