.choose-color {

    padding-top: 45px;
    padding-bottom: 180px;

    &__container {
        text-align: center;
    }

    &__title {
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    &__text {
        margin-bottom: 80px;
    }

    &__list {
        display: flex;
        
        justify-content: center;
        gap: 40px;
    }

    &__button {
        border: 1px solid var(--Grey, #777);
        border-radius: 20px;
        padding: 50px 55px;
        cursor: pointer;
    }
}
