.choose-color {

    &__container {
        text-align: center;
    }

    &__title {
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    &__text {
        margin-bottom: 80px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
    }

    &__button {
        border: 1px solid var(--Grey, #777);
        border-radius: 20px;
        padding: 50px 55px;
        cursor: pointer;

        &--active {
            display: none;
        }
    }
}

@media (max-width: 767.98px) {
    .choose-color {
        &__list {
            gap: 16px;
        }
    }
}

@media (max-width: 575.98px) {
    .choose-color {
        &__text {
            margin-bottom: 40px;
        }
    }
}