.header {
    min-height: 100vh;
    position: relative;
    &__container {
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 40px;
    }

    &__logo {
    }

    &__navigation {
    }

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0 40px;
    }

    &__item {
    }

    &__button {
        font-weight: 700;
        color: #fff;
        background-color: #000;
        padding: 15px 58px;
        border-radius: 30px;
        text-transform: uppercase;
    }

    &__content {
        padding-bottom: 50px;
    }

    &__title {
        font-size: 210px;
        font-weight: 700;
        position: absolute;
        margin-top: 55px;

        &--air {
            
        }

        &--pod {
            position: relative;
            z-index: -1;
        }

        &--s {
            display: inline-block;
            transform: translateY(60px);
        }

        &--m {
            display: inline-block;
            transform: translate(-30px, 275px);
        }

        &--ax {
            display: inline-block;
            position: relative;
            transform: translate(-128px, 440px);
            z-index: -1;
        }
    }

    &__images {
        text-align: center;
        
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            background: linear-gradient(180deg, #f3d6d1 0%, rgba(235, 235, 235, 0) 100%);
            z-index: -2;
            
        }
    }
}
